In [1]:
# Copyright 2021 NVIDIA Corporation. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ==============================================================================

## Read and Process E-Commerce data with NVTabular

eCommerce dataset: https://www.kaggle.com/mkechinov/ecommerce-behavior-data-from-multi-category-store

We provide scripts to download 2019-Oct and 2019-Nov csv files from Kaggle and  additional months from Google Drive in the [01-preprocess_ecommerce_rees46_pyspark.ipynb](https://github.com/NVIDIA-Merlin/Transformers4Rec/blob/main/datasets/ecommerce_rees46/preprocessing/pyspark/01-preprocess_ecommerce_rees46_pyspark.ipynb) notebook. You can visit the notebook to use the download scripts.

- Import the required libraries

In [2]:
import os
import numpy as np 
import pandas as pd
import gc
import shutil
import glob

import cudf
import cupy
import nvtabular as nvt
from nvtabular import ColumnGroup

## Define Input/Output Directories

In [3]:
# define some information about where to get our data
BASE_DIR = os.environ.get("BASE_DIR", "/workspace/")
INPUT_DATA_DIR = os.environ.get("INPUT_DATA_DIR", BASE_DIR + "ecommerce/")
OUTPUT_DATA_DIR = os.environ.get("OUTPUT_DATA_DIR", BASE_DIR + "ecommerce/output_tmp/")

INPUT_PATH= os.path.join(INPUT_DATA_DIR, 'input/')
!mkdir -p $INPUT_PATH

## Configurations

In [4]:
NUM_MONTHS_TO_PREPROCESS = 1  # For the eCommerce dataset there are up to 7 months (2019-Oct to 2020-Apr)
KEEP_REPEATED_USER_INTERACTIONS = True

In [5]:
MONTHS_FILES = ["2019-Oct.csv", "2019-Nov.csv", "2019-Dec.csv", "2020-Jan.csv", "2020-Feb.csv", "2020-Mar.csv", "2020-Apr.csv"]

We will only use Oct-2019 dataset.

In [6]:
selected_months = MONTHS_FILES[:NUM_MONTHS_TO_PREPROCESS]
selected_months

['2019-Oct.csv']

In [7]:
files_paths = [os.path.join(INPUT_DATA_DIR, file) for file in selected_months]
files_paths

['/workspace/ecommerce/2019-Oct.csv']

## Read Data via cuDF from CSV

In [8]:
%%time
raw_df = cudf.read_csv(files_paths[0]) 
raw_df.head()

CPU times: user 2.45 s, sys: 2.2 s, total: 4.65 s
Wall time: 7.02 s

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,<NA>,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,<NA>,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [9]:
raw_df.shape

(42448764, 9)

## PREPROCESSING

### Convert timestamp from datetime

In [10]:
raw_df['event_time_dt'] = raw_df['event_time'].astype('datetime64[s]')
raw_df['event_time_ts']= raw_df['event_time_dt'].astype('int')
raw_df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,event_time_dt,event_time_ts
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,<NA>,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c,2019-10-01 00:00:00,1569888000
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc,2019-10-01 00:00:00,1569888000
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,<NA>,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8,2019-10-01 00:00:01,1569888001
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713,2019-10-01 00:00:01,1569888001
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d,2019-10-01 00:00:04,1569888004

In [11]:
# check out the columns with nulls
raw_df.isnull().any()

event_time       False
event_type       False
product_id       False
category_id      False
category_code     True
brand             True
price            False
user_id          False
user_session      True
event_time_dt    False
event_time_ts    False
dtype: bool

In [12]:
# Remove rows where `user_session` is null.
raw_df = raw_df[raw_df['user_session'].isnull()==False]
len(raw_df)

42448762

In [13]:
raw_df.dtypes

event_time              object
event_type              object
product_id               int64
category_id              int64
category_code           object
brand                   object
price                  float64
user_id                  int64
user_session            object
event_time_dt    datetime64[s]
event_time_ts            int64
dtype: object

### Categorify `user_session` column

In [14]:
cols = list(raw_df.columns)
cols.remove('user_session')
cols

['event_time',
 'event_type',
 'product_id',
 'category_id',
 'category_code',
 'brand',
 'price',
 'user_id',
 'event_time_dt',
 'event_time_ts']

In [15]:
# load data 
df_event = nvt.Dataset(raw_df) 
# categorify features 
cat_feats = ['user_session'] >> nvt.ops.Categorify()

workflow = nvt.Workflow(cols + cat_feats)
workflow.fit(df_event)
df = workflow.transform(df_event).to_ddf().compute()

In [16]:
df = df.drop(['event_time'],  axis=1)

In [17]:
df.dtypes

user_session             int64
event_type              object
product_id               int64
category_id              int64
category_code           object
brand                   object
price                  float64
user_id                  int64
event_time_dt    datetime64[s]
event_time_ts            int64
dtype: object

In [18]:
df.head()

,user_session,event_type,product_id,category_id,category_code,brand,price,user_id,event_time_dt,event_time_ts
0,5126085,view,44600062,2103807459595387724,<NA>,shiseido,35.79,541312140,2019-10-01 00:00:00,1569888000
1,7854470,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,2019-10-01 00:00:00,1569888000
2,730655,view,17200506,2053013559792632471,furniture.living_room.sofa,<NA>,543.10,519107250,2019-10-01 00:00:01,1569888001
3,1637332,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,2019-10-01 00:00:01,1569888001
4,4202155,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,2019-10-01 00:00:04,1569888004

In [19]:
df.shape

(42448762, 10)

In [20]:
raw_df = None
del(raw_df)

In [21]:
gc.collect()

167

### Removing repeated (user, item) interactions

In [22]:
df = df.sort_values(['user_session', 'event_time_ts']).reset_index(drop=True)

In [23]:
%%time
# Keeping only the first user interaction with an item (ignores all future repeated interactions)

if not KEEP_REPEATED_USER_INTERACTIONS:
    df_first_user_item_interaction_df = df.groupby(['user_id', 'product_id']).agg({'event_time_ts': 'min'})
    df_first_user_item_interaction_df = df_first_user_item_interaction_df.reset_index().rename(columns={'event_time_ts': 'first_user_item_event_time_ts'})
    df = df.merge(df_first_user_item_interaction_df, how='inner', left_on=['user_id', 'product_id', 'event_time_ts'], right_on=['user_id', 'product_id','first_user_item_event_time_ts'])
    df = df.drop(columns=['first_user_item_event_time_ts'])

# Keeps repeated interactions on the same items, removing only consecutive interactions, 
# because it might be due to browser tab refreshes or different interaction types (e.g. click, add-to-card, purchase)
else:
    print("Count with in-session repeated interactions: {}".format(len(df)))
    # Sorts the dataframe by session and timestamp, to remove consecutive repetitions
    df['product_id_past'] = df['product_id'].shift(1).fillna(0)
    df['session_id_past'] = df['user_session'].shift(1).fillna(0)
    #Keeping only no consecutive repeated in session interactions
    df = df[~((df['user_session'] == df['session_id_past']) & \
                 (df['product_id'] == df['product_id_past']))]
    print("Count after removed in-session repeated interactions: {}".format(len(df)))
    del(df['product_id_past'])
    del(df['session_id_past'])

gc.collect()

Count with in-session repeated interactions: 42448762
Count after removed in-session repeated interactions: 30733301
CPU times: user 1.08 s, sys: 51.5 ms, total: 1.13 s
Wall time: 1.67 s

0

### Include the item first time seen feature (for recency calculation)Â¶

In [25]:
item_first_interaction_df = df.groupby('product_id').agg({'event_time_ts': 'min'}).reset_index().rename(columns={'event_time_ts': 'prod_first_event_time_ts'})
item_first_interaction_df['prod_first_event_time_ts'] = item_first_interaction_df['prod_first_event_time_ts'].astype('datetime64[s]')
item_first_interaction_df.head()

   product_id prod_first_event_time_ts
0    15200912      2019-10-01 04:24:16
1    43900053      2019-10-01 02:54:28
2    28718793      2019-10-05 16:23:31
3    26400601      2019-10-01 06:08:00
4    29502840      2019-10-19 17:28:07

In [26]:
df = df.merge(item_first_interaction_df, on=['product_id'], how='left').reset_index(drop=True)

In [28]:
df.head()

,user_session,event_type,product_id,category_id,category_code,brand,price,user_id,event_time_dt,event_time_ts,prod_first_event_time_ts
0,94,view,26202560,2053013563693335403,<NA>,<NA>,388.49,512892706,2019-10-15 17:16:18,1571159778,2019-10-01 10:28:02
1,94,view,26203994,2053013563693335403,<NA>,<NA>,157.79,512892706,2019-10-15 17:16:24,1571159784,2019-10-01 14:51:00
2,94,view,26203430,2053013563693335403,<NA>,<NA>,388.45,512892706,2019-10-15 17:16:39,1571159799,2019-10-01 03:59:14
3,94,view,26203994,2053013563693335403,<NA>,<NA>,157.79,512892706,2019-10-15 17:16:41,1571159801,2019-10-01 14:51:00
4,94,view,26203727,2053013563693335403,<NA>,lucente,317.38,512892706,2019-10-15 17:16:55,1571159815,2019-10-01 03:37:36

In [29]:
df.isnull().any()

user_session                False
event_type                  False
product_id                  False
category_id                 False
category_code                True
brand                        True
price                       False
user_id                     False
event_time_dt               False
event_time_ts               False
prod_first_event_time_ts    False
dtype: bool

In [30]:
del(item_first_interaction_df)
item_first_interaction_df=None
gc.collect()

0

You need to run this cell only once and then comment out if you would like to rerun the same pipeline. We'll use this saved parquet file below in the NVTabular workflow.

In [39]:
# save df as parquet files on disk
df.to_parquet(os.path.join(INPUT_PATH, 'input.parquet'))

## FEATURE ENGINEERING with NVTabular

### Categorical features encoding

In [4]:
cols= ['event_time_dt', 'event_time_ts', 'user_session']

In [5]:
# categorify categorical features 
# since we are using 0 for padding later on, let's fill NA strings with 'unknown'.

fill_na_categs = ['category_code', 'brand'] >> nvt.ops.FillMissing(fill_val='unknown')
cat_feats = fill_na_categs + ['user_id', 'product_id', 'category_id', 'event_type'] >> nvt.ops.Rename(postfix = '_idx') >> nvt.ops.Categorify()

In [6]:
cat_feats.columns

['category_code_idx',
 'brand_idx',
 'user_id_idx',
 'product_id_idx',
 'category_id_idx',
 'event_type_idx']

### Extract Temporal Features

In [7]:
# calculate item recency 
# create custom op
from nvtabular.ops import Operator

class ItemRecency(Operator):
    def transform(self, columns, gdf):
        for column in columns:
            col = gdf[column]
            item_first_timestamp = gdf['prod_first_event_time_ts']
            delta_days = (col - item_first_timestamp).dt.days
            gdf[column + "_age_days"] = delta_days * (delta_days >=0)
        return gdf
            
    def output_column_names(self, columns):
        return [column + "_age_days" for column in columns]
            
    def dependencies(self):
        return ["prod_first_event_time_ts"]

In [8]:
# create time features
sessionTime = ['event_time_dt']

sessionTime_hour = (
    sessionTime >> 
    nvt.ops.LambdaOp(lambda col: col.dt.hour) >> 
    nvt.ops.Rename(name = 'et_hour')
)
sessionTime_weekday = (
    sessionTime >> 
    nvt.ops.LambdaOp(lambda col: col.dt.weekday) >> 
    nvt.ops.Rename(name ='et_dayofweek')
)
sessionTime_day = (
    sessionTime >> 
    nvt.ops.LambdaOp(lambda col: col.dt.day) >> 
    nvt.ops.Rename(name ="et_dayofmonth")
)
sessionTime_month = (
    sessionTime >> 
    nvt.ops.LambdaOp(lambda col: col.dt.month) >> 
    nvt.ops.Rename(name ="et_month")
)

In [9]:
def get_cycled_feature_value_sin(col, max_value):
    value_scaled = (col + 0.000001) / max_value
    value_sin = np.sin(2*np.pi*value_scaled)
    return value_sin

def get_cycled_feature_value_cos(col, max_value):
    value_scaled = (col + 0.000001) / max_value
    value_cos = np.cos(2*np.pi*value_scaled)
    return value_cos

In [10]:
hour_sin = sessionTime_hour >> (lambda col: get_cycled_feature_value_sin(col, 24)) >> nvt.ops.Rename(name='et_hour_sin')
hour_cos = sessionTime_hour >> (lambda col: get_cycled_feature_value_cos(col, 24)) >> nvt.ops.Rename(name ='et_hour_cos')
weekday_sin = sessionTime_weekday >> (lambda col: get_cycled_feature_value_sin(col+1, 7)) >> nvt.ops.Rename(name = 'et_dayofweek_sin')
weekday_cos= sessionTime_weekday >> (lambda col: get_cycled_feature_value_cos(col+1, 7)) >> nvt.ops.Rename(name = 'et_dayofweek_cos')

dayofmonth_sin = sessionTime_hour >> (lambda col: get_cycled_feature_value_sin(col, 31)) >> nvt.ops.Rename(name ='et_dayofmonth_sin')
dayofmonth_cos = sessionTime_hour >> (lambda col: get_cycled_feature_value_cos(col, 31)) >> nvt.ops.Rename(name='et_dayofmonth_cos')
month_sin = sessionTime_weekday >> (lambda col: get_cycled_feature_value_sin(col, 12)) >> nvt.ops.Rename(name='et_month_sin')
month_cos= sessionTime_weekday >> (lambda col: get_cycled_feature_value_cos(col, 12)) >> nvt.ops.Rename(name = 'et_month_cos')

In [11]:
cycled_features = hour_sin + hour_cos + weekday_sin + weekday_cos + dayofmonth_sin + dayofmonth_cos + month_sin + month_cos

In [12]:
recency_features = ["event_time_dt"] >> ItemRecency() >>  nvt.ops.Rename(name='product_recency_days')
recency_features_norm = recency_features >> nvt.ops.LogOp() >> nvt.ops.Normalize() >> nvt.ops.Rename(name='product_recency_days_log_norm')

In [13]:
time_features = (
    sessionTime_hour +
    sessionTime_day + 
    sessionTime_month + 
    sessionTime_weekday +
    cycled_features +
    recency_features_norm
)

In [14]:
time_features.graph

In [15]:
time_features.columns

['et_hour',
 'et_dayofmonth',
 'et_month',
 'et_dayofweek',
 'et_hour_sin',
 'et_hour_cos',
 'et_dayofweek_sin',
 'et_dayofweek_cos',
 'et_dayofmonth_sin',
 'et_dayofmonth_cos',
 'et_month_sin',
 'et_month_cos',
 'product_recency_days_log_norm']

### Computing elapsed time since last interaction (on non-repeated items)

In [16]:
# compute the delta in timestamp for each users session
diff_features = (["event_time_ts"] >> nvt.ops.DifferenceLag(partition_cols=["user_session"]) >> (lambda col: col.astype("float32"))
                                   >> nvt.ops.FillMissing(fill_val=0)
                                   >> nvt.ops.Rename(name="delta_event_secs")
                )
diff_features_log_norm = diff_features >> nvt.ops.LogOp() >> nvt.ops.Normalize() >> nvt.ops.Rename(name='delta_event_secs_log_norm')

### Normalize Continuous FeaturesÂ¶

In [17]:
# Smoothing price long-tailed distribution
price_log = ['price'] >> nvt.ops.LogOp() >> nvt.ops.Normalize() >> nvt.ops.Rename(name='price_log_norm')

In [18]:
# Relative Price to the average price for the category_id
def relative_price_to_avg_categ(col, gdf):
    col = (gdf['price'] - col) / col
    return col
    
avg_category_id_pr = ['category_id'] >> nvt.ops.JoinGroupby(cont_cols =['price'], stats=["mean"]) >> nvt.ops.Rename(name='avg_category_id_price')
relative_price_to_avg_category = avg_category_id_pr >> nvt.ops.LambdaOp(relative_price_to_avg_categ, dependency=['price']) >> nvt.ops.Rename(name="relative_price_to_avg_categ_id")

### Grouping interactions into sessionsÂ¶

In [19]:
groupby_feats = cols + cat_feats + time_features + avg_category_id_pr + price_log + relative_price_to_avg_category + diff_features_log_norm

#### Aggregate by session id (create sequence as type of array)

In [20]:
# Define Groupby Workflow
groupby_features = groupby_feats  >> nvt.ops.Groupby(
    groupby_cols=["user_session"], 
    sort_cols=["event_time_ts"],
    aggs={
        'user_id_idx': ['first'],
        'product_id_idx': ["list", "count"],
        'category_code_idx': ["list"],  
        'event_type_idx': ["list"], 
        'brand_idx': ["list"], 
        'category_id_idx': ["list"], 
        'event_time_ts': ["list", "first", "last"],
        'event_time_dt': ["first"],
        'et_month': ["list"],
        'et_hour': ["list"],
        'et_dayofmonth': ["list"],
        'et_dayofweek': ["list"],
        'product_recency_days_log_norm': ["list"],
        'et_hour_sin': ["list"],
        'et_hour_cos': ["list"],
        'et_dayofweek_sin': ["list"],
        'et_dayofweek_cos': ["list"],
        'et_dayofmonth_sin': ["list"],
        'et_dayofmonth_cos': ["list"],
        'et_month_sin': ["list"],
        'et_month_cos': ["list"], 
        'avg_category_id_price': ["list"], 
        'relative_price_to_avg_categ_id': ["list"], 
        'price_log_norm': ["list"], 
        'delta_event_secs_log_norm': ["list"], 
        },
    name_sep="-")

In [21]:
groupby_features_nonlist = [x for x in groupby_features.columns if '-list' not in x]
groupby_features_nonlist

['user_session',
 'product_id_idx-count',
 'event_time_ts-first',
 'user_id_idx-first',
 'event_time_ts-last',
 'event_time_dt-first']

In [22]:
SESSIONS_MAX_LENGTH = 20 
MINIMUM_SESSION_LENGTH = 2

In [23]:
groupby_features_trim = ((groupby_features - groupby_features_nonlist)) >> nvt.ops.ListSlice(0,SESSIONS_MAX_LENGTH) >> nvt.ops.Rename(postfix = '_trim')

In [24]:
# calculate session day index based on 'timestamp-first' column
remaining_columns = [x for x in groupby_features.columns if x!= 'event_time_dt-first']
day_index = ((groupby_features - remaining_columns)  >> 
    nvt.ops.LambdaOp(lambda col: (col - col.min()).dt.days +1) >> 
    nvt.ops.Rename(f = lambda col: "day_index")
)

In [25]:
day_idx_padded = day_index >> (lambda col: col.astype(str).str.pad(4,fillchar='0')) >> nvt.ops.Rename(f = lambda col: "day_idx_padded")

In [26]:
rename_cols = {"product_id_idx-count": "session_size"} 
groupby_features = groupby_features >> nvt.ops.Rename(lambda col: rename_cols.get(col, col))

In [27]:
filtered_sessions = (groupby_features + groupby_features_trim + day_index + day_idx_padded) >> \
                     nvt.ops.Filter(f=lambda df: df["session_size"] >= MINIMUM_SESSION_LENGTH)

In [28]:
filtered_sessions.columns

['et_hour-list',
 'event_type_idx-list',
 'et_dayofweek-list',
 'et_dayofweek_sin-list',
 'et_month_sin-list',
 'product_recency_days_log_norm-list',
 'et_dayofmonth_sin-list',
 'et_hour_cos-list',
 'event_time_ts-list',
 'user_session',
 'category_id_idx-list',
 'session_size',
 'et_month-list',
 'delta_event_secs_log_norm-list',
 'event_time_ts-first',
 'user_id_idx-first',
 'brand_idx-list',
 'et_dayofmonth_cos-list',
 'et_hour_sin-list',
 'price_log_norm-list',
 'avg_category_id_price-list',
 'et_dayofmonth-list',
 'event_time_ts-last',
 'event_time_dt-first',
 'product_id_idx-list',
 'et_dayofweek_cos-list',
 'et_month_cos-list',
 'category_code_idx-list',
 'relative_price_to_avg_categ_id-list',
 'et_hour-list_trim',
 'event_type_idx-list_trim',
 'et_dayofweek-list_trim',
 'et_dayofweek_sin-list_trim',
 'et_month_sin-list_trim',
 'product_recency_days_log_norm-list_trim',
 'et_dayofmonth_sin-list_trim',
 'et_hour_cos-list_trim',
 'event_time_ts-list_trim',
 'category_id_idx-list_trim',
 'et_month-list_trim',
 'delta_event_secs_log_norm-list_trim',
 'brand_idx-list_trim',
 'et_dayofmonth_cos-list_trim',
 'et_hour_sin-list_trim',
 'price_log_norm-list_trim',
 'avg_category_id_price-list_trim',
 'et_dayofmonth-list_trim',
 'product_id_idx-list_trim',
 'et_dayofweek_cos-list_trim',
 'et_month_cos-list_trim',
 'category_code_idx-list_trim',
 'relative_price_to_avg_categ_id-list_trim',
 'day_index',
 'day_idx_padded']

In [29]:
# define the path of the saved parquet files 

input_paths = glob.glob(os.path.join(INPUT_PATH, '*.parquet'))
input_paths

['/workspace/ecommerce/input/input.parquet']

In [30]:
selected_features = filtered_sessions['user_id_idx-first', 'user_session', 'event_time_ts-first', 'product_id_idx-list_trim', 'event_time_ts-list_trim', 'event_type_idx-list_trim',
                 'category_id_idx-list_trim', 'category_code_idx-list_trim', 'brand_idx-list_trim', 'price_log_norm-list_trim', 'delta_event_secs_log_norm-list_trim', 
                'product_recency_days_log_norm-list_trim', 'relative_price_to_avg_categ_id-list_trim', 'et_hour_sin-list_trim', 'et_hour_cos-list_trim', 
                'et_month_sin-list_trim', 'et_month_cos-list_trim', 'et_dayofweek_sin-list_trim', 'et_dayofweek_cos-list_trim', 'et_dayofmonth_sin-list_trim', 
                'et_dayofmonth_cos-list_trim', 'session_size', 'day_idx_padded']

In [31]:
dataset = nvt.Dataset(input_paths, part_size="500MB")
workflow = nvt.Workflow(selected_features)
workflow.fit(dataset)

/root/.local/lib/python3.8/site-packages/numba-0.54.0rc2-py3.8-linux-x86_64.egg/numba/cuda/compiler.py:865: NumbaPerformanceWarning: Grid size (1) < 2 * SM count (160) will likely result in GPU under utilization due to low occupancy.
  warn(NumbaPerformanceWarning(msg))
/root/.local/lib/python3.8/site-packages/numba-0.54.0rc2-py3.8-linux-x86_64.egg/numba/cuda/compiler.py:865: NumbaPerformanceWarning: Grid size (1) < 2 * SM count (160) will likely result in GPU under utilization due to low occupancy.
  warn(NumbaPerformanceWarning(msg))
/root/.local/lib/python3.8/site-packages/numba-0.54.0rc2-py3.8-linux-x86_64.egg/numba/cuda/compiler.py:865: NumbaPerformanceWarning: Grid size (1) < 2 * SM count (160) will likely result in GPU under utilization due to low occupancy.
  warn(NumbaPerformanceWarning(msg))

In [32]:
sessions_gdf = workflow.transform(dataset).to_ddf()
sessions_gdf.head()

,user_id_idx-first,user_session,event_time_ts-first,product_id_idx-list_trim,event_time_ts-list_trim,event_type_idx-list_trim,category_id_idx-list_trim,category_code_idx-list_trim,brand_idx-list_trim,price_log_norm-list_trim,...,et_hour_sin-list_trim,et_hour_cos-list_trim,et_month_sin-list_trim,et_month_cos-list_trim,et_dayofweek_sin-list_trim,et_dayofweek_cos-list_trim,et_dayofmonth_sin-list_trim,et_dayofmonth_cos-list_trim,session_size,day_idx_padded
0,73,1,1569900208,"[26847, 111411, 31915, 10388, 28421, 670, 897,...","[1569900208, 1569900523, 1569900702, 156990268...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[2, 2, 2, 2, 2, 19, 19, 19, 19, 19, 19, 19, 19...","[1, 1, 1, 1, 1, 16, 16, 16, 16, 16, 16, 16, 16...","[190, 111, 275, 290, 536, 31, 10, 31, 416, 185...","[-0.59687185, -0.58262986, -0.57691544, -0.947...",...,"[0.707107, 0.707107, 0.707107, 0.86602557, 0.8...","[0.70710653, 0.70710653, 0.70710653, 0.4999997...","[0.5000004, 0.5000004, 0.5000004, 0.5000004, 0...","[0.86602515, 0.86602515, 0.86602515, 0.8660251...","[0.9749277, 0.9749277, 0.9749277, 0.9749277, 0...","[-0.22252177, -0.22252177, -0.22252177, -0.222...","[0.5712684, 0.5712684, 0.5712684, 0.72479296, ...","[0.82076335, 0.82076335, 0.82076335, 0.6889667...",779,0001
1,17,2,1571718982,"[620, 2933, 620, 2762, 11452, 34, 265, 761, 11...","[1571718982, 1571719023, 1571719135, 157171947...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[12, 12, 12, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ...","[8, 8, 8, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, ...","[1, 43, 1, 15, 15, 15, 15, 15, 15, 15, 15, 15,...","[0.084585615, -0.24322413, 0.084585615, -0.144...",...,"[0.86602557, 0.86602557, 0.86602557, 0.8660255...","[0.49999976, 0.49999976, 0.49999976, 0.4999997...","[0.5000004, 0.5000004, 0.5000004, 0.5000004, 0...","[0.86602515, 0.86602515, 0.86602515, 0.8660251...","[0.9749277, 0.9749277, 0.9749277, 0.9749277, 0...","[-0.22252177, -0.22252177, -0.22252177, -0.222...","[0.72479296, 0.72479296, 0.72479296, 0.7247929...","[0.68896675, 0.68896675, 0.68896675, 0.6889667...",1008,0022
2,276,3,1571905625,"[1490, 2014, 1490, 306, 99, 316, 1865, 543, 31...","[1571905625, 1571906083, 1571906151, 157190618...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...","[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...","[24, 11, 24, 11, 11, 24, 16, 16, 24, 1, 24, 24...","[0.9421027, 0.9506203, 0.9421027, 1.1711532, 0...",...,"[0.86602527, 0.86602527, 0.86602527, 0.8660252...","[-0.5000003, -0.5000003, -0.5000003, -0.500000...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[-6.3975784e-07, -6.3975784e-07, -6.3975784e-0...","[-0.43388462, -0.43388462, -0.43388462, -0.433...","[-0.90096843, -0.90096843, -0.90096843, -0.900...","[0.9987165, 0.9987165, 0.9987165, 0.9987165, 0...","[-0.050649345, -0.050649345, -0.050649345, -0....",353,0024
3,13,4,1572188123,"[7316, 8857, 550, 2183, 409, 14689, 643, 1744,...","[1572188123, 1572188141, 1572188155, 157218819...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[10, 10, 10, 202, 31, 82, 56, 34, 413, 120, 10...","[10, 10, 10, 1, 21, 39, 1, 1, 1, 1, 10, 10, 1,...","[18, 25, 2, 1, 1, 28, 1, 1, 463, 1, 18, 18, 1,...","[-0.9334465, -0.6120557, -0.6417656, -1.155789...",...,"[-0.50000036, -0.50000036, -0.50000036, -0.500...","[-0.8660252, -0.8660252, -0.8660252, -0.866025...","[-5.6425995e-07, -5.6425995e-07, -5.6425995e-0...","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[1.1285199e-06, 1.1285199e-06, 1.1285199e-06, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[0.2993629, 0.2993629, 0.2993629, 0.2993629, 0...","[-0.95413935, -0.95413935, -0.95413935, -0.954...",365,0027
4,2100,5,1572535256,"[170, 60, 4393, 856, 2545, 320, 33573, 2545, 8...","[1572535256, 1572535291, 1572535328, 157253539...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ...","[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, ...","[2, 2, 221, 2, 36, 8, 1, 36, 2, 2, 10, 2, 8, 2...","[0.8609693, 0.9505872, 0.72817683, 0.94167036,...",...,"[-0.70710707, -0.70710707, -0.70710707, -0.707...","[-0.70710653, -0.70710653, -0.70710653, -0.707...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[-6.3975784e-07, -6.3975784e-07, -6.3975784e-0...","[-0.43388462, -0.43388462, -0.43388462, -0.433...","[-0.90096843, -0.90096843, -0.90096843, -0.900...","[0.10116802, 0.10116802, 0.10116802, 0.1011680...","[-0.99486935, -0.99486935, -0.99486935, -0.994...",294,0031

In [35]:
workflow.column_group.columns

['user_id_idx-first',
 'user_session',
 'event_time_ts-first',
 'product_id_idx-list_trim',
 'event_time_ts-list_trim',
 'event_type_idx-list_trim',
 'category_id_idx-list_trim',
 'category_code_idx-list_trim',
 'brand_idx-list_trim',
 'price_log_norm-list_trim',
 'delta_event_secs-list_trim',
 'delta_event_secs_log_norm-list_trim',
 'product_recency_days_log_norm-list_trim',
 'relative_price_to_avg_categ_id-list_trim',
 'et_hour_sin-list_trim',
 'et_hour_cos-list_trim',
 'et_month_sin-list_trim',
 'et_month_cos-list_trim',
 'et_dayofweek_sin-list_trim',
 'et_dayofweek_cos-list_trim',
 'et_dayofmonth_sin-list_trim',
 'et_dayofmonth_cos-list_trim',
 'session_size',
 'day_idx_padded']

- NVTabular provides a useful op to print out (cardinality, emb_dim) tuples for each categorical column. Note that here the `emb_dim` value is calculated from the `emb_sz_rule` [function](https://github.com/NVIDIA/NVTabular/blob/bc4eef46f80140986d5c7e2893ed35b69fc8030a/nvtabular/ops/categorify.py#L528).

In [37]:
cat_feats.op.get_embedding_sizes(cat_feats.columns)

{'category_code_idx': (128, 24),
 'brand_idx': (3411, 152),
 'user_id_idx': (2169785, 512),
 'product_id_idx': (162275, 512),
 'category_id_idx': (625, 59),
 'event_type_idx': (4, 16)}

## Exporting data

In [35]:
PARTITION_COL = 'day_idx_padded'

# Convert to a Dataset and write out hive-partitioned data to disk
workflow.transform(dataset).to_parquet(OUTPUT_DATA_DIR, partition_on=[PARTITION_COL])

#### Export dataset to parquet, partioned by the session day_idx

## Converting to the HF4Rec dir structure and splitting datasetÂ¶
- Move to pandas to be able to save as required file structure to load back in the model.

In [46]:
OUTPUT_FOLDER = "/workspace/ecommerce-rees/sessions_by_day_ts"
!mkdir -p $OUTPUT_FOLDER

In [47]:
rename_columns = ['user_idx', 'user_session', 'session_start_ts', 'sess_pid_seq', 'sess_etime_seq', 'sess_etype_seq', 'sess_csid_seq', 'sess_ccid_seq', 'sess_bid_seq',
            'sess_price_log_norm_seq', 'sess_dtime_secs_log_norm_seq', 'sess_prod_recency_days_log_norm_seq',
            'sess_relative_price_to_avg_category_seq', 'sess_et_hour_sin_seq', 'sess_et_hour_cos_seq', 'sess_et_month_sin_seq', 'sess_et_month_cos_seq', 
            'sess_et_dayofweek_sin_seq', 'sess_et_dayofweek_cos_seq', 'sess_et_dayofmonth_sin_seq', 'sess_et_dayofmonth_cos_seq', 'session_size']

In [ ]:
# Save the final parquet files into the required file structure to be used in the model training and evaluation.
days_folders = [f for f in sorted(os.listdir(OUTPUT_DATA_DIR)) if f.startswith(PARTITION_COL)]
for day_folder in days_folders:
    df = pd.read_parquet(os.path.join(OUTPUT_DATA_DIR, day_folder))
    df = df.sort_values('event_time_ts-first')
    df.columns = rename_columns
    out_folder = os.path.join(OUTPUT_FOLDER, day_folder.replace('day_idx_padded=', ''))
    os.makedirs(out_folder, exist_ok=True)
    
    df.to_parquet(os.path.join(out_folder, 'train.parquet'))
    
    random_values = np.random.rand(len(df))
    
    #Extracts 10% for valid and test set. Those sessions are also in the train set, but as evaluation
    #happens only for the subsequent day of training, that is not an issue, and we can keep the train set larger.
    valid_set = df[random_values <= 0.10]
    valid_set.to_parquet(os.path.join(out_folder, 'valid.parquet'))
    test_set = df[random_values >= 0.90]
    test_set.to_parquet(os.path.join(out_folder, 'test.parquet'))

### Check exported dataset

In [50]:
# Check one file
df = cudf.read_parquet(os.path.join(OUTPUT_FOLDER, '0001/train.parquet'))
df.head()

,user_idx,user_session,session_start_ts,sess_pid_seq,sess_etime_seq,sess_etype_seq,sess_csid_seq,sess_ccid_seq,sess_bid_seq,sess_price_log_norm_seq,...,sess_relative_price_to_avg_category_seq,sess_et_hour_sin_seq,sess_et_hour_cos_seq,sess_et_month_sin_seq,sess_et_month_cos_seq,sess_et_dayofweek_sin_seq,sess_et_dayofweek_cos_seq,sess_et_dayofmonth_sin_seq,sess_et_dayofmonth_cos_seq,session_size
47879,366900,1637332,1569888001,"[222, 1579, 19587, 1579, 222, 1467, 306]","[1569888001, 1569888019, 1569888065, 156988810...","[1, 1, 1, 1, 1, 1, 1]","[3, 3, 3, 3, 3, 3, 3]","[4, 4, 4, 4, 4, 4, 4]","[14, 16, 16, 16, 14, 11, 11]","[0.41740003, 1.089425, 1.8598971, 1.089425, 0....",...,"[-0.6585854756736873, -0.2121860529279741, 1.0...","[2.6179939e-07, 2.6179939e-07, 2.6179939e-07, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]","[0.5000004, 0.5000004, 0.5000004, 0.5000004, 0...","[0.86602515, 0.86602515, 0.86602515, 0.8660251...","[0.9749277, 0.9749277, 0.9749277, 0.9749277, 0...","[-0.22252177, -0.22252177, -0.22252177, -0.222...","[2.0268341e-07, 2.0268341e-07, 2.0268341e-07, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]",7
21660,425512,730655,1569888001,"[4853, 81, 146, 132, 381, 519, 1558, 5046, 155...","[1569888001, 1569888069, 1569888086, 156988820...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[31, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14]","[21, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 1, 42, 1, 1, 1, 1, 1, 1, 1, 1]","[1.0353123, 0.43446755, 0.9506203, 0.96737427,...",...,"[-0.13391444424434915, -0.5523576406449782, -0...","[2.6179939e-07, 2.6179939e-07, 2.6179939e-07, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[0.5000004, 0.5000004, 0.5000004, 0.5000004, 0...","[0.86602515, 0.86602515, 0.86602515, 0.8660251...","[0.9749277, 0.9749277, 0.9749277, 0.9749277, 0...","[-0.22252177, -0.22252177, -0.22252177, -0.222...","[2.0268341e-07, 2.0268341e-07, 2.0268341e-07, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",11
110498,101880,4202155,1569888004,"[40, 17]","[1569888004, 1569888019]","[1, 1]","[1, 1]","[2, 2]","[3, 3]","[1.5900187, 1.9761946]",...,"[1.1859394700323467, 2.5310848133309625]","[2.6179939e-07, 2.6179939e-07]","[1.0, 1.0]","[0.5000004, 0.5000004]","[0.86602515, 0.86602515]","[0.9749277, 0.9749277]","[-0.22252177, -0.22252177]","[2.0268341e-07, 2.0268341e-07]","[1.0, 1.0]",2
52597,135811,1808164,1569888005,"[12538, 8620, 10200, 117715, 5831]","[1569888005, 1569888022, 1569888093, 156988810...","[1, 1, 1, 1, 1]","[28, 28, 28, 28, 84]","[13, 13, 13, 13, 50]","[64, 64, 64, 64, 137]","[1.4494404, 1.4607624, 1.5130013, 1.5399413, 0...",...,"[0.11695417577696178, 0.1327750912776656, 0.20...","[2.6179939e-07, 2.6179939e-07, 2.6179939e-07, ...","[1.0, 1.0, 1.0, 1.0, 1.0]","[0.5000004, 0.5000004, 0.5000004, 0.5000004, 0...","[0.86602515, 0.86602515, 0.86602515, 0.8660251...","[0.9749277, 0.9749277, 0.9749277, 0.9749277, 0...","[-0.22252177, -0.22252177, -0.22252177, -0.222...","[2.0268341e-07, 2.0268341e-07, 2.0268341e-07, ...","[1.0, 1.0, 1.0, 1.0, 1.0]",5
101874,1611628,3794756,1569888008,"[1648, 4902, 1887]","[1569888008, 1569888027, 1569888044]","[1, 1, 1]","[49, 49, 49]","[1, 1, 1]","[59, 1, 59]","[-1.0258108, 0.08173744, -0.121775955]",...,"[-0.6828106042565476, 0.2764638365147098, -0.0...","[2.6179939e-07, 2.6179939e-07, 2.6179939e-07]","[1.0, 1.0, 1.0]","[0.5000004, 0.5000004, 0.5000004]","[0.86602515, 0.86602515, 0.86602515]","[0.9749277, 0.9749277, 0.9749277]","[-0.22252177, -0.22252177, -0.22252177]","[2.0268341e-07, 2.0268341e-07, 2.0268341e-07]","[1.0, 1.0, 1.0]",3

In [51]:
df.shape

(139924, 22)