In [1]:
#!conda install pandas -y
#!conda install pyarrow -y

In [2]:
import os
import pandas as pd
import numpy as np

import cudf
import nvtabular as nvt

In [3]:
DATA_FOLDER = "/data/yoochoose/yoochoose-data"
FILENAME_PATTERN = 'yoochoose-clicks.dat'
DATA_PATH = os.path.join(DATA_FOLDER, FILENAME_PATTERN)

!ls $DATA_PATH

/data/yoochoose/yoochoose-data/yoochoose-clicks.dat

In [4]:
OUTPUT_FOLDER = "/data/yoochoose/preproc_sessions_by_day"
!mkdir -p $OUTPUT_FOLDER

In [5]:
MINIMUM_SESSION_LENGTH = 2

### Loading data

In [6]:
#List of columns names to be used for CSV without the header line
HEADLESS_CSV_COLUMN_NAMES = ['session_id','timestamp', 'item_id', 'category']

In [7]:
interactions_df = cudf.read_csv(DATA_PATH, sep=',',
                    names=HEADLESS_CSV_COLUMN_NAMES,
                    parse_dates=['timestamp']
                   )

### Removing consecutive repeated interactions

In [8]:
print("Count with in-session repeated interactions: {}".format(len(interactions_df)))
# Sorts the dataframe by session and timestamp, to remove consective repetitions
interactions_df = interactions_df.sort_values(['session_id', 'timestamp'])
interactions_df['item_id_past'] = interactions_df['item_id'].shift(1)
interactions_df['session_id_past'] = interactions_df['session_id'].shift(1)
#Keeping only no consectutive repeated in session interactions
interactions_df = interactions_df[~((interactions_df['session_id'] == interactions_df['session_id_past']) & \
                 (interactions_df['item_id'] == interactions_df['item_id_past']))]
print("Count after removed in-session repeated interactions: {}".format(len(interactions_df)))

Count with in-session repeated interactions: 33003944
Count after removed in-session repeated interactions: 28971544

In [9]:
del(interactions_df['item_id_past'])
del(interactions_df['session_id_past'])

### Including the item first time seen feature (for recency calculation)

In [10]:
items_first_ts_df = interactions_df.groupby('item_id').agg({'timestamp': 'min'}).reset_index().rename(columns={'timestamp': 'itemid_ts_first'})
items_first_ts_df.head()

     item_id         itemid_ts_first
0  214715625 2014-04-01 07:23:39.174
1  214754250 2014-04-13 18:29:11.989
2  214744050 2014-04-01 07:56:25.624
3  214754085 2014-04-14 17:52:41.453
4  214738445 2014-04-01 07:21:35.570

In [11]:
interactions_merged_df = interactions_df.merge(items_first_ts_df, on=['item_id'], how='left')

In [12]:
interactions_merged_df.head()

,session_id,timestamp,item_id,category,itemid_ts_first
0,6141,2014-04-05 23:18:46.344,214533020,0,2014-04-01 06:10:31.761
1,6141,2014-04-05 23:20:46.784,214612708,0,2014-04-01 06:17:15.252
2,6141,2014-04-05 23:23:42.812,214533020,0,2014-04-01 06:10:31.761
3,6141,2014-04-05 23:24:05.467,214821339,0,2014-04-01 10:08:16.543
4,6141,2014-04-05 23:26:02.129,214834886,0,2014-04-01 13:51:19.750

In [13]:
interactions_merged_df.shape

(28971544, 5)

### Temporal features

In [14]:
# create time features
sessionTime = ['timestamp']

sessionTime_hour = (
    sessionTime >> 
    #nvt.ops.LambdaOp(lambda col: cudf.to_datetime(col, unit='ms').dt.hour) >> 
    nvt.ops.LambdaOp(lambda col: col.dt.hour) >> 
    nvt.ops.Rename(postfix = '_hour')
)
sessionTime_weekday = (
    sessionTime >> 
    #nvt.ops.LambdaOp(lambda col: cudf.to_datetime(col, unit='ms').dt.weekday) >> 
    nvt.ops.LambdaOp(lambda col: col.dt.weekday) >> 
    nvt.ops.Rename(postfix = '_wd')
)
sessionTime_day = (
    sessionTime >> 
    nvt.ops.LambdaOp(lambda col: col.dt.day) >> 
    nvt.ops.Rename(postfix="_day")
)
sessionTime_month = (
    sessionTime >> 
    nvt.ops.LambdaOp(lambda col: col.dt.month) >> 
    nvt.ops.Rename(postfix="_month")
)
sessionTime_year = (
    sessionTime >> 
    nvt.ops.LambdaOp(lambda col: col.dt.year) >> 
    nvt.ops.Rename(postfix="_year")
)

In [15]:
def get_cycled_feature_value_sin(col, max_value):
    value_scaled = (col + 0.000001) / max_value
    value_sin = np.sin(2*np.pi*value_scaled)
    return value_sin

def get_cycled_feature_value_cos(col, max_value):
    value_scaled = (col + 0.000001) / max_value
    value_cos = np.cos(2*np.pi*value_scaled)
    return value_cos

In [16]:
hour_sin = sessionTime_hour >> (lambda col: get_cycled_feature_value_sin(col, 24)) >> nvt.ops.Rename(postfix = '_sin')
hour_cos = sessionTime_hour >> (lambda col: get_cycled_feature_value_cos(col, 24)) >> nvt.ops.Rename(postfix = '_cos')
weekday_sin = sessionTime_weekday >> (lambda col: get_cycled_feature_value_sin(col+1, 7)) >> nvt.ops.Rename(postfix = '_sin')
weekday_cos= sessionTime_weekday >> (lambda col: get_cycled_feature_value_cos(col+1, 7)) >> nvt.ops.Rename(postfix = '_cos')

In [17]:
cycled_features = hour_sin + hour_cos + weekday_sin + weekday_cos

In [18]:
cycled_features.columns

['timestamp_hour_sin',
 'timestamp_hour_cos',
 'timestamp_wd_sin',
 'timestamp_wd_cos']

In [19]:
# standar scale the cycled_features
#cycled_features_norm = cycled_features >> nvt.ops.Normalize() >> nvt.ops.Rename(postfix = '_norm')

In [20]:
# calculate item recency 
# create custom op
from nvtabular.ops import Operator

class ItemRecency(Operator):
    def transform(self, columns, gdf):
        for column in columns:
            col = gdf[column]
            #col.loc[col == ""] = None
            item_first_timestamp = gdf['itemid_ts_first']
            delta_days = (col - item_first_timestamp).dt.days
            gdf[column + "_age_days"] = delta_days * (delta_days >=0)
        return gdf
            
    def output_column_names(self, columns):
        return [column + "_age_days" for column in columns]
            
    def dependencies(self):
        return ["itemid_ts_first"]

In [21]:
recency_features = ["timestamp"] >> ItemRecency() 
recency_features_norm = recency_features >> nvt.ops.LogOp() >> nvt.ops.Normalize() >> nvt.ops.Rename(postfix = '_norm')

In [22]:
recency_features.columns, recency_features_norm.columns

(['timestamp_age_days'], ['timestamp_age_days_norm'])

In [23]:
time_features = (
    sessionTime + 
    sessionTime_hour +
    sessionTime_day + 
    sessionTime_month + 
    sessionTime_year +
    sessionTime_weekday +
    recency_features +
    recency_features_norm + 
    cycled_features
    #cycled_features_norm
)
time_features.graph

In [24]:
time_features.columns

['timestamp_hour',
 'timestamp',
 'timestamp_day',
 'timestamp_month',
 'timestamp_year',
 'timestamp_wd',
 'timestamp_age_days',
 'timestamp_age_days_norm',
 'timestamp_hour_sin',
 'timestamp_hour_cos',
 'timestamp_wd_sin',
 'timestamp_wd_cos']

### Categorify

In [25]:
categ_features = ['item_id', 'category'] >> nvt.ops.Categorify()

### Grouping interactions into sessions

In [33]:
# Define Groupby Workflow
groupby_features = categ_features + ['session_id']+ time_features >> nvt.ops.Groupby(
    groupby_cols=["session_id"], 
    sort_cols=["timestamp"],
    aggs={
        "item_id": ["list", "count"],
        "category": ["list"],
        "timestamp": ["list", "first", "last"],
        'timestamp_day': ["list"],
        'timestamp_hour': ["list"],
        'timestamp_month': ["list"],
        'timestamp_wd': ["list"],
        'timestamp_age_days': ["list"],
        'timestamp_age_days_norm': ["list"],
        'timestamp_hour_sin': ["list"],
        'timestamp_hour_sin_norm': ["list"],
        'timestamp_hour_cos': ["list"],
        'timestamp_hour_cos_norm': ["list"],
        'timestamp_wd_sin': ["list"],
        'timestamp_wd_sin_norm': ["list"],
        'timestamp_wd_cos': ["list"],
        'timestamp_wd_cos_norm': ["list"],        
        },
    name_sep="-")

In [34]:
# calculate session day index based on 'timestamp-first' column
remaining_columns = [x for x in groupby_features.columns if x!= 'timestamp-first']
day_index = ( (groupby_features - remaining_columns)  >> 
    nvt.ops.LambdaOp(lambda col: (col - col.min()).dt.days +1) >> 
    nvt.ops.Rename(f = lambda col: "day_index")
)

In [65]:
day_idx_padded = day_index >> (lambda col: col.astype(str).str.pad(4,fillchar='0')) >> nvt.ops.Rename(f = lambda col: "day_idx_padded")

In [66]:
rename_cols = {"item_id-count": "session_size"} 
groupby_features = groupby_features >> nvt.ops.Rename(lambda col: rename_cols.get(col, col))

In [71]:
filtered_sessions = (groupby_features + day_index + day_idx_padded) >> \
                     nvt.ops.Filter(f=lambda df: df["session_size"] >= MINIMUM_SESSION_LENGTH)

In [72]:
workflow = nvt.Workflow(filtered_sessions)

In [73]:
dataset = nvt.Dataset(interactions_merged_df, cpu=False)
workflow.fit(dataset)
new_gdf = workflow.transform(dataset).to_ddf().compute()
len(new_gdf)

6756575

In [40]:
nvt.ops.get_embedding_sizes(workflow)
#{'category': (336, 42), 'item_id': (52740, 512)}

{}

In [74]:
new_gdf.head(10)

,session_id,timestamp_wd_sin-list,timestamp-first,timestamp_hour_cos-list,timestamp-list,timestamp_hour-list,category-list,timestamp_age_days_norm-list,item_id-list,timestamp_wd-list,timestamp_day-list,session_size,timestamp_hour_sin-list,timestamp_age_days-list,timestamp_month-list,timestamp_wd_cos-list,timestamp-last,day_index,day_idx_padded
0,1,"[0.7818321, 0.7818321, 0.7818321, 0.7818321]",2014-04-07 10:51:09.277,"[-0.8660256, -0.8660256, -0.8660256, -0.8660256]","[2014-04-07T10:51:09.277000000, 2014-04-07T10:...","[10, 10, 10, 10]","[1, 1, 1, 1]","[-1.2571418, -1.2571418, -1.388686, -1.388686]","[2054, 2053, 2055, 9877]","[0, 0, 0, 0]","[7, 7, 7, 7]",4,"[0.49999964, 0.49999964, 0.49999964, 0.49999964]","[6, 6, 5, 5]","[4, 4, 4, 4]","[0.6234891, 0.6234891, 0.6234891, 0.6234891]",2014-04-07 10:57:00.306,7,0007
1,2,"[0.7818321, 0.7818321, 0.7818321, 0.7818321, 0...",2014-04-07 13:56:37.614,"[-0.96592575, -0.96592575, -0.96592575, -0.866...","[2014-04-07T13:56:37.614000000, 2014-04-07T13:...","[13, 13, 13, 14, 14]","[1, 1, 1, 1, 1]","[-1.2571418, -2.3261838, -2.3261838, -2.326183...","[19449, 40789, 32517, 32523, 4854]","[0, 0, 0, 0, 0]","[7, 7, 7, 7, 7]",5,"[-0.2588193, -0.2588193, -0.2588193, -0.500000...","[6, 1, 1, 1, 6]","[4, 4, 4, 4, 4]","[0.6234891, 0.6234891, 0.6234891, 0.6234891, 0...",2014-04-07 14:02:36.889,7,0007
2,3,"[0.43388295, 0.43388295, 0.43388295]",2014-04-02 13:17:46.940,"[-0.96592575, -0.96592575, -0.96592575]","[2014-04-02T13:17:46.940000000, 2014-04-02T13:...","[13, 13, 13]","[1, 1, 1]","[-2.3261838, -2.3261838, -2.3261838]","[28990, 35311, 43179]","[2, 2, 2]","[2, 2, 2]",3,"[-0.2588193, -0.2588193, -0.2588193]","[1, 1, 1]","[4, 4, 4]","[-0.90096927, -0.90096927, -0.90096927]",2014-04-02 13:30:12.318,2,0002
3,4,"[0.7818321, 0.7818321]",2014-04-07 12:09:10.948,"[-1.0, -1.0]","[2014-04-07T12:09:10.948000000, 2014-04-07T12:...","[12, 12]","[1, 1]","[-1.2571418, -1.2571418]","[44326, 26362]","[0, 0]","[7, 7]",2,"[-5.6425995e-07, -5.6425995e-07]","[6, 6]","[4, 4]","[0.6234891, 0.6234891]",2014-04-07 12:26:25.416,7,0007
4,6,"[1.1285199e-06, 1.1285199e-06]",2014-04-06 16:58:20.848,"[-0.4999995, -0.25881854]","[2014-04-06T16:58:20.848000000, 2014-04-06T17:...","[16, 17]","[1, 1]","[-1.388686, -1.388686]","[25633, 41161]","[6, 6]","[6, 6]",2,"[-0.8660257, -0.965926]","[5, 5]","[4, 4]","[1.0, 1.0]",2014-04-06 17:02:26.976,6,0006
5,7,"[0.43388295, 0.43388295]",2014-04-02 06:38:53.104,"[-2.8212997e-07, -2.8212997e-07]","[2014-04-02T06:38:53.104000000, 2014-04-02T06:...","[6, 6]","[1, 1]","[-2.3261838, -2.3261838]","[41233, 41185]","[2, 2]","[2, 2]",2,"[1.0, 1.0]","[1, 1]","[4, 4]","[-0.90096927, -0.90096927]",2014-04-02 06:39:05.854,2,0002
6,11,"[-0.43388462, -0.43388462, -0.43388462, -0.433...",2014-04-03 10:44:35.672,"[-0.8660256, -0.8660256, -0.8660256, -0.866025...","[2014-04-03T10:44:35.672000000, 2014-04-03T10:...","[10, 10, 10, 10, 10, 10, 10, 10, 10]","[1, 1, 1, 1, 1, 1, 1, 1, 1]","[-1.9801811, -1.9801811, -1.9801811, -1.980181...","[39928, 39967, 29055, 7959, 26356, 29168, 3063...","[3, 3, 3, 3, 3, 3, 3, 3, 3]","[3, 3, 3, 3, 3, 3, 3, 3, 3]",9,"[0.49999964, 0.49999964, 0.49999964, 0.4999996...","[2, 2, 2, 2, 1, 2, 2, 0, 2]","[4, 4, 4, 4, 4, 4, 4, 4, 4]","[-0.90096843, -0.90096843, -0.90096843, -0.900...",2014-04-03 10:57:39.433,3,0003
7,13,"[1.1285199e-06, 1.1285199e-06, 1.1285199e-06]",2014-04-06 14:50:13.638,"[-0.8660252, -0.8660252, -0.8660252]","[2014-04-06T14:50:13.638000000, 2014-04-06T14:...","[14, 14, 14]","[1, 1, 1]","[-1.388686, -1.388686, -1.388686]","[44325, 22424, 44325]","[6, 6, 6]","[6, 6, 6]",3,"[-0.50000036, -0.50000036, -0.50000036]","[5, 5, 5]","[4, 4, 4]","[1.0, 1.0, 1.0]",2014-04-06 14:53:18.268,6,0006
8,14,"[0.9749277, 0.9749277, 0.9749277]",2014-04-01 10:09:01.362,"[-0.8660256, -0.8660256, -0.8660256]","[2014-04-01T10:09:01.362000000, 2014-04-01T10:...","[10, 10, 10]","[1, 1, 1]","[-2.9176788, -2.9176788, -2.9176788]","[9918, 11196, 9918]","[1, 1, 1]","[1, 1, 1]",3,"[0.49999964, 0.49999964, 0.49999964]","[0, 0, 0]","[4, 4, 4]","[-0.22252177, -0.22252177, -0.22252177]",2014-04-01 10:12:36.482,1,0001
9,17,"[1.1285199e-06, 1.1285199e-06]",2014-04-06 11:34:14.289,"[-0.96592593, -0.96592593]","[2014-04-06T11:34:14.289000000, 2014-04-06T11:...","[11, 11]","[1, 1]","[-1.388686, -1.388686]","[41259, 39711]","[6, 6]","[6, 6]",2,"[0.2588187, 0.2588187]","[5, 5]","[4, 4]","[1.0, 1.0]",2014-04-06 11:34:16.193,6,0006

In [54]:
SELECTED_COLS = ['session_id', 'day_idx_padded', 'session_size', 'item_id-list', 'category-list', 'timestamp-first', 'timestamp-last',  'timestamp-list', 
'timestamp_hour_cos-list', 'timestamp_hour_sin-list', 'timestamp_wd_sin-list', 'timestamp_wd_cos-list',
'timestamp_age_days-list', 'timestamp_age_days_norm-list',]
sessions_gdf = new_gdf[SELECTED_COLS]
sessions_gdf.head()

,session_id,day_idx_padded,session_size,item_id-list,category-list,timestamp-first,timestamp-last,timestamp-list,timestamp_hour_cos-list,timestamp_hour_sin-list,timestamp_wd_sin-list,timestamp_wd_cos-list,timestamp_age_days-list,timestamp_age_days_norm-list
0,1,0007,4,"[2054, 2053, 2055, 9877]","[1, 1, 1, 1]",2014-04-07 10:51:09.277,2014-04-07 10:57:00.306,"[2014-04-07T10:51:09.277000000, 2014-04-07T10:...","[-0.8660256, -0.8660256, -0.8660256, -0.8660256]","[0.49999964, 0.49999964, 0.49999964, 0.49999964]","[0.7818321, 0.7818321, 0.7818321, 0.7818321]","[0.6234891, 0.6234891, 0.6234891, 0.6234891]","[6, 6, 5, 5]","[-1.2571418, -1.2571418, -1.388686, -1.388686]"
1,2,0007,5,"[19449, 40789, 32517, 32523, 4854]","[1, 1, 1, 1, 1]",2014-04-07 13:56:37.614,2014-04-07 14:02:36.889,"[2014-04-07T13:56:37.614000000, 2014-04-07T13:...","[-0.96592575, -0.96592575, -0.96592575, -0.866...","[-0.2588193, -0.2588193, -0.2588193, -0.500000...","[0.7818321, 0.7818321, 0.7818321, 0.7818321, 0...","[0.6234891, 0.6234891, 0.6234891, 0.6234891, 0...","[6, 1, 1, 1, 6]","[-1.2571418, -2.3261838, -2.3261838, -2.326183..."
2,3,0002,3,"[28990, 35311, 43179]","[1, 1, 1]",2014-04-02 13:17:46.940,2014-04-02 13:30:12.318,"[2014-04-02T13:17:46.940000000, 2014-04-02T13:...","[-0.96592575, -0.96592575, -0.96592575]","[-0.2588193, -0.2588193, -0.2588193]","[0.43388295, 0.43388295, 0.43388295]","[-0.90096927, -0.90096927, -0.90096927]","[1, 1, 1]","[-2.3261838, -2.3261838, -2.3261838]"
3,4,0007,2,"[44326, 26362]","[1, 1]",2014-04-07 12:09:10.948,2014-04-07 12:26:25.416,"[2014-04-07T12:09:10.948000000, 2014-04-07T12:...","[-1.0, -1.0]","[-5.6425995e-07, -5.6425995e-07]","[0.7818321, 0.7818321]","[0.6234891, 0.6234891]","[6, 6]","[-1.2571418, -1.2571418]"
4,6,0006,2,"[25633, 41161]","[1, 1]",2014-04-06 16:58:20.848,2014-04-06 17:02:26.976,"[2014-04-06T16:58:20.848000000, 2014-04-06T17:...","[-0.4999995, -0.25881854]","[-0.8660257, -0.965926]","[1.1285199e-06, 1.1285199e-06]","[1.0, 1.0]","[5, 5]","[-1.388686, -1.388686]"

### Checking results

In [73]:
sessions_gdf['day_idx_padded'].min(), sessions_gdf['day_idx_padded'].max()

('0001', '0182')

In [76]:
sessions_gdf.groupby('day_idx_padded').size().sort_index()

0001    44017
0002    42358
0003    45074
0004    33102
0005    34515
        ...
0178    35605
0179    25555
0180    21023
0181    10766
0182    13297
Length: 182, dtype: int32

In [77]:
sessions_gdf['session_size'].describe()

count    6.756575e+06
mean     3.918907e+00
std      3.794900e+00
min      2.000000e+00
25%      2.000000e+00
50%      3.000000e+00
75%      4.000000e+00
max      2.000000e+02
Name: session_size, dtype: float64

In [48]:
sessions_gdf.groupby('session_size').size().sort_index()[:30]

session_size
2     2945317
3     1463174
4      785870
5      473054
6      299592
7      200109
8      137758
9       98787
10      72002
11      53589
12      41379
13      32072
14      25125
15      19699
16      16087
17      13117
18      10714
19       8932
20       7536
21       6329
22       5535
23       4735
24       3832
25       3444
26       2933
27       2551
28       2356
29       1959
30       1762
31       1573
dtype: int32

### Exporting session by day

#### Saving using hive-partitioned data

In [91]:
PARTITION_COL = 'day_idx_padded'

In [100]:
# Convert to a Datset and write out hive-partitioned data to disk
nvt_output_path_tmp ='./output_nvt_tmp/'
nvt.Dataset(sessions_gdf).to_parquet(nvt_output_path_tmp, partition_on=[PARTITION_COL])

In [101]:
!ls $nvt_output_path_tmp/

 _file_list.txt        'day_idx_padded=0060'  'day_idx_padded=0122'
 _metadata	       'day_idx_padded=0061'  'day_idx_padded=0123'
 _metadata.json        'day_idx_padded=0062'  'day_idx_padded=0124'
'day_idx_padded=0001'  'day_idx_padded=0063'  'day_idx_padded=0125'
'day_idx_padded=0002'  'day_idx_padded=0064'  'day_idx_padded=0126'
'day_idx_padded=0003'  'day_idx_padded=0065'  'day_idx_padded=0127'
'day_idx_padded=0004'  'day_idx_padded=0066'  'day_idx_padded=0128'
'day_idx_padded=0005'  'day_idx_padded=0067'  'day_idx_padded=0129'
'day_idx_padded=0006'  'day_idx_padded=0068'  'day_idx_padded=0130'
'day_idx_padded=0007'  'day_idx_padded=0069'  'day_idx_padded=0131'
'day_idx_padded=0008'  'day_idx_padded=0070'  'day_idx_padded=0132'
'day_idx_padded=0009'  'day_idx_padded=0071'  'day_idx_padded=0133'
'day_idx_padded=0010'  'day_idx_padded=0072'  'day_idx_padded=0134'
'day_idx_padded=0011'  'day_idx_padded=0073'  'day_idx_padded=0135'
'day_idx_padded=0012'  'day_idx_padded=0074'  'day_idx_padded=0136'
'day_idx_padded=0013'  'day_idx_padded=0075'  'day_idx_padded=0137'
'day_idx_padded=0014'  'day_idx_padded=0076'  'day_idx_padded=0138'
'day_idx_padded=0015'  'day_idx_padded=0077'  'day_idx_padded=0139'
'day_idx_padded=0016'  'day_idx_padded=0078'  'day_idx_padded=0140'
'day_idx_padded=0017'  'day_idx_padded=0079'  'day_idx_padded=0141'
'day_idx_padded=0018'  'day_idx_padded=0080'  'day_idx_padded=0142'
'day_idx_padded=0019'  'day_idx_padded=0081'  'day_idx_padded=0143'
'day_idx_padded=0020'  'day_idx_padded=0082'  'day_idx_padded=0144'
'day_idx_padded=0021'  'day_idx_padded=0083'  'day_idx_padded=0145'
'day_idx_padded=0022'  'day_idx_padded=0084'  'day_idx_padded=0146'
'day_idx_padded=0023'  'day_idx_padded=0085'  'day_idx_padded=0147'
'day_idx_padded=0024'  'day_idx_padded=0086'  'day_idx_padded=0148'
'day_idx_padded=0025'  'day_idx_padded=0087'  'day_idx_padded=0149'
'day_idx_padded=0026'  'day_idx_padded=0088'  'day_idx_padded=0150'
'day_idx_padded=0027'  'day_idx_padded=0089'  'day_idx_padded=0151'
'day_idx_padded=0028'  'day_idx_padded=0090'  'day_idx_padded=0152'
'day_idx_padded=0029'  'day_idx_padded=0091'  'day_idx_padded=0153'
'day_idx_padded=0030'  'day_idx_padded=0092'  'day_idx_padded=0154'
'day_idx_padded=0031'  'day_idx_padded=0093'  'day_idx_padded=0155'
'day_idx_padded=0032'  'day_idx_padded=0094'  'day_idx_padded=0156'
'day_idx_padded=0033'  'day_idx_padded=0095'  'day_idx_padded=0157'
'day_idx_padded=0034'  'day_idx_padded=0096'  'day_idx_padded=0158'
'day_idx_padded=0035'  'day_idx_padded=0097'  'day_idx_padded=0159'
'day_idx_padded=0036'  'day_idx_padded=0098'  'day_idx_padded=0160'
'day_idx_padded=0037'  'day_idx_padded=0099'  'day_idx_padded=0161'
'day_idx_padded=0038'  'day_idx_padded=0100'  'day_idx_padded=0162'
'day_idx_padded=0039'  'day_idx_padded=0101'  'day_idx_padded=0163'
'day_idx_padded=0040'  'day_idx_padded=0102'  'day_idx_padded=0164'
'day_idx_padded=0041'  'day_idx_padded=0103'  'day_idx_padded=0165'
'day_idx_padded=0042'  'day_idx_padded=0104'  'day_idx_padded=0166'
'day_idx_padded=0043'  'day_idx_padded=0105'  'day_idx_padded=0167'
'day_idx_padded=0044'  'day_idx_padded=0106'  'day_idx_padded=0168'
'day_idx_padded=0045'  'day_idx_padded=0107'  'day_idx_padded=0169'
'day_idx_padded=0046'  'day_idx_padded=0108'  'day_idx_padded=0170'
'day_idx_padded=0047'  'day_idx_padded=0109'  'day_idx_padded=0171'
'day_idx_padded=0048'  'day_idx_padded=0110'  'day_idx_padded=0172'
'day_idx_padded=0049'  'day_idx_padded=0111'  'day_idx_padded=0173'
'day_idx_padded=0050'  'day_idx_padded=0112'  'day_idx_padded=0174'
'day_idx_padded=0051'  'day_idx_padded=0113'  'day_idx_padded=0175'
'day_idx_padded=0052'  'day_idx_padded=0114'  'day_idx_padded=0176'
'day_idx_padded=0053'  'day_idx_padded=0115'  'day_idx_padded=0177'
'day_idx_padded=0054'  'day_idx_padded=0116'  'day_idx_padded=0178'
'day_idx_padded=0055'  'day_idx_padded=0117'  'day_idx_padded=0179'
'day_idx_padded=0056'  'day_idx_padded=0118'  'day_idx_padded=0180'
'day_idx_padded=0057'  'day_idx_padded=0119'  'day_idx_padded=0181'
'day_idx_padded=0058'  'day_idx_padded=0120'  'day_idx_padded=0182'
'day_idx_padded=0059'  'day_idx_padded=0121'

In [102]:
# Check one file
day_1 = cudf.read_parquet(os.path.join(nvt_output_path_tmp, 'day_idx_padded=0001/part.0.parquet'))
day_1

,session_id,session_size,item_id-list,category-list,timestamp-first,timestamp-last,timestamp-list,timestamp_hour_cos-list,timestamp_hour_sin-list,timestamp_wd_sin-list,timestamp_wd_cos-list,timestamp_age_days-list,timestamp_age_days_norm-list
0,14,3,"[9918, 11196, 9918]","[1, 1, 1]",2014-04-01 10:09:01.362,2014-04-01 10:12:36.482,"[2014-04-01T10:09:01.362000, 2014-04-01T10:11:...","[-0.8660256, -0.8660256, -0.8660256]","[0.49999964, 0.49999964, 0.49999964]","[0.9749277, 0.9749277, 0.9749277]","[-0.22252177, -0.22252177, -0.22252177]","[0, 0, 0]","[-2.917681, -2.917681, -2.917681]"
1,19,2,"[7832, 13821]","[1, 1]",2014-04-01 20:52:12.357,2014-04-01 20:54:53.606,"[2014-04-01T20:52:12.357000, 2014-04-01T20:54:...","[0.5000007, 0.5000007]","[-0.866025, -0.866025]","[0.9749277, 0.9749277]","[-0.22252177, -0.22252177]","[0, 0]","[-2.917681, -2.917681]"
2,39,2,"[22514, 21519]","[1, 1]",2014-04-01 21:21:00.460,2014-04-01 21:21:44.551,"[2014-04-01T21:21:00.460000, 2014-04-01T21:21:...","[0.707107, 0.707107]","[-0.70710653, -0.70710653]","[0.9749277, 0.9749277]","[-0.22252177, -0.22252177]","[0, 0]","[-2.917681, -2.917681]"
3,48,4,"[24302, 24301, 2505, 20625]","[1, 1, 1, 1]",2014-04-01 12:12:08.080,2014-04-01 12:16:50.572,"[2014-04-01T12:12:08.080000, 2014-04-01T12:12:...","[-1.0, -1.0, -1.0, -1.0]","[-5.6425995e-07, -5.6425995e-07, -5.6425995e-0...","[0.9749277, 0.9749277, 0.9749277, 0.9749277]","[-0.22252177, -0.22252177, -0.22252177, -0.222...","[0, 0, 0, 0]","[-2.917681, -2.917681, -2.917681, -2.917681]"
4,51,5,"[3861, 39358, 45409, 44069, 44140]","[1, 1, 1, 1, 1]",2014-04-01 18:05:31.791,2014-04-01 18:09:40.735,"[2014-04-01T18:05:31.791000, 2014-04-01T18:06:...","[4.8876205e-07, 4.8876205e-07, 4.8876205e-07, ...","[-1.0, -1.0, -1.0, -1.0, -1.0]","[0.9749277, 0.9749277, 0.9749277, 0.9749277, 0...","[-0.22252177, -0.22252177, -0.22252177, -0.222...","[0, 0, 0, 0, 0]","[-2.917681, -2.917681, -2.917681, -2.917681, -..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44012,494917,6,"[29024, 28987, 29024, 28986, 29024, 28987]","[1, 1, 1, 1, 1, 1]",2014-04-01 19:25:50.288,2014-04-01 19:29:50.364,"[2014-04-01T19:25:50.288000, 2014-04-01T19:26:...","[0.25881946, 0.25881946, 0.25881946, 0.2588194...","[-0.9659257, -0.9659257, -0.9659257, -0.965925...","[0.9749277, 0.9749277, 0.9749277, 0.9749277, 0...","[-0.22252177, -0.22252177, -0.22252177, -0.222...","[0, 0, 0, 0, 0, 0]","[-2.917681, -2.917681, -2.917681, -2.917681, -..."
44013,494918,4,"[45637, 96, 2704, 10677]","[1, 1, 1, 1]",2014-04-01 12:39:57.736,2014-04-01 12:45:38.817,"[2014-04-01T12:39:57.736000, 2014-04-01T12:41:...","[-1.0, -1.0, -1.0, -1.0]","[-5.6425995e-07, -5.6425995e-07, -5.6425995e-0...","[0.9749277, 0.9749277, 0.9749277, 0.9749277]","[-0.22252177, -0.22252177, -0.22252177, -0.222...","[0, 0, 0, 0]","[-2.917681, -2.917681, -2.917681, -2.917681]"
44014,494921,2,"[39906, 39402]","[1, 1]",2014-04-01 17:50:40.327,2014-04-01 17:50:53.450,"[2014-04-01T17:50:40.327000, 2014-04-01T17:50:...","[-0.25881854, -0.25881854]","[-0.965926, -0.965926]","[0.9749277, 0.9749277]","[-0.22252177, -0.22252177]","[0, 0]","[-2.917681, -2.917681]"
44015,494922,2,"[28990, 28988]","[1, 1]",2014-04-01 10:12:24.306,2014-04-01 10:15:44.812,"[2014-04-01T10:12:24.306000, 2014-04-01T10:15:...","[-0.8660256, -0.8660256]","[0.49999964, 0.49999964]","[0.9749277, 0.9749277]","[-0.22252177, -0.22252177]","[0, 0]","[-2.917681, -2.917681]"
44016,494924,3,"[43132, 43131, 41282]","[1, 1, 1]",2014-04-01 03:45:19.181,2014-04-01 03:53:02.118,"[2014-04-01T03:45:19.181000, 2014-04-01T03:47:...","[0.70710653, 0.70710653, 0.70710653]","[0.707107, 0.707107, 0.707107]","[0.9749277, 0.9749277, 0.9749277]","[-0.22252177, -0.22252177, -0.22252177]","[0, 0, 0]","[-2.917681, -2.917681, -2.917681]"

#### Converting to the HF4Rec dir structure and splitting dataset

In [154]:
days_folders = [f for f in sorted(os.listdir(nvt_output_path_tmp)) if f.startswith(PARTITION_COL)]
for day_folder in days_folders:
    df = cudf.read_parquet(os.path.join(nvt_output_path_tmp, day_folder))
    df = df.sort_values('timestamp-first')
    print(len(df))
    
    out_folder = os.path.join(OUTPUT_FOLDER, day_folder.replace('day_idx_padded=', ''))
    os.makedirs(out_folder, exist_ok=True)
    df.to_parquet(os.path.join(out_folder, 'train.parquet'))
    
    random_values = cupy.random.rand(len(df))
    
    #Extracts 10% for valid and test set. Those sessions are also in the train set, but as evaluation
    #happens only for the subsequent day of training, that is not an issue, and we can keep the train set larger.
    valid_set = df[random_values <= 0.10]
    valid_set.to_parquet(os.path.join(out_folder, 'valid.parquet'))
    
    test_set = df[random_values >= 0.90]
    test_set.to_parquet(os.path.join(out_folder, 'test.parquet'))

44017
42358
45074
33102
34515
61399
48062
34726
39439
36216
24697
28752
58691
54321
38695
31093
21344
29839
20507
33190
47846
42309
40325
38964
28248
32894
67929
53832
41259
33148
34525
32369
30743
58694
30669
1305
41639
42447
30069
36005
67958
66624
41047
40048
37888
26457
28067
58177
52813
40518
37740
34592
29415
29054
54092
56778
1684
39018
35188
30125
32546
67557
66231
1591
44374
41167
27114
25412
44538
51728
53538
49282
43286
30025
31383
55148
45088
1459
30213
26395
24843
27194
55473
45862
1358
35447
30289
23502
26631
56166
44429
1194
31785
24836
16750
22927
42728
41468
1334
38476
37072
26639
28090
47511
42925
1436
35653
35334
25042
24527
51154
59165
1510
38300
39108
27602
26675
53596
52763
8694
35696
31012
22940
24113
49009
50884
9885
35676
37699
28091
37425
77580
71852
12141
48246
47395
35597
34906
68722
71651
12953
52105
52598
37510
39111
65721
64929
10293
46057
42088
29747
32011
70483
65988
9104
10196
39880
29644
17287
76214
69830
10870
49303
13091
37497
43318
73382
65710
9185
35768
33419
23745
32647
63023
54817
6969
37214
35605
25555
21023
10766
13297

In [155]:
!ls -la $OUTPUT_FOLDER

total 736
drwxr-xr-x 184 root root 4096 Apr 13 20:22 .
drwxr-xr-x   4 1000 1000 4096 Apr 13 20:21 ..
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0001
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0002
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0003
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0004
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0005
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0006
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0007
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0008
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0009
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0010
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0011
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0012
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0013
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0014
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0015
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0016
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0017
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0018
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0019
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0020
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0021
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0022
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0023
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0024
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0025
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0026
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0027
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0028
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0029
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0030
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0031
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0032
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0033
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0034
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0035
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0036
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0037
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0038
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0039
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0040
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0041
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0042
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0043
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0044
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0045
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0046
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0047
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0048
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0049
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0050
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0051
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0052
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0053
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0054
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0055
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0056
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0057
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0058
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0059
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0060
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0061
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0062
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0063
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0064
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0065
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0066
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0067
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0068
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0069
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0070
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0071
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0072
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0073
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0074
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0075
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0076
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0077
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0078
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0079
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0080
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0081
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0082
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0083
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0084
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0085
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0086
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0087
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0088
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0089
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0090
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0091
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0092
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0093
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0094
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0095
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0096
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0097
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0098
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0099
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0100
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0101
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0102
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0103
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0104
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0105
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0106
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0107
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0108
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0109
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0110
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0111
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0112
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0113
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0114
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0115
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0116
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0117
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0118
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0119
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0120
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0121
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0122
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0123
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0124
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0125
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0126
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0127
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0128
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0129
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0130
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0131
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0132
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0133
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0134
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0135
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0136
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0137
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0138
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0139
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0140
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0141
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0142
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0143
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0144
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0145
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0146
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0147
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0148
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0149
drwxr-xr-x   2 root root 4096 Apr 13 20:21 0150
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0151
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0152
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0153
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0154
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0155
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0156
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0157
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0158
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0159
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0160
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0161
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0162
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0163
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0164
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0165
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0166
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0167
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0168
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0169
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0170
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0171
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0172
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0173
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0174
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0175
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0176
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0177
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0178
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0179
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0180
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0181
drwxr-xr-x   2 root root 4096 Apr 13 20:22 0182

In [156]:
!ls -la $OUTPUT_FOLDER/0001

total 3676
drwxr-xr-x   2 root root    4096 Apr 13 20:21 .
drwxr-xr-x 184 root root    4096 Apr 13 20:22 ..
-rw-r--r--   1 root root  318149 Apr 13 20:21 test.parquet
-rw-r--r--   1 root root 3108177 Apr 13 20:21 train.parquet
-rw-r--r--   1 root root  325019 Apr 13 20:21 valid.parquet

In [157]:
df = cudf.read_parquet(os.path.join(OUTPUT_FOLDER, '0001/train.parquet'))
df

,session_id,session_size,item_id-list,category-list,timestamp-first,timestamp-last,timestamp-list,timestamp_hour_cos-list,timestamp_hour_sin-list,timestamp_wd_sin-list,timestamp_wd_cos-list,timestamp_age_days-list,timestamp_age_days_norm-list
31230,351646,2,"[29023, 28986]","[1, 1]",2014-04-01 03:00:00.124,2014-04-01 03:03:13.688,"[2014-04-01T03:00:00.124000, 2014-04-01T03:03:...","[0.70710653, 0.70710653]","[0.707107, 0.707107]","[0.9749277, 0.9749277]","[-0.22252177, -0.22252177]","[0, 0]","[-2.917681, -2.917681]"
34633,389654,5,"[41181, 11387, 41181, 41218, 41181]","[1, 1, 1, 1, 1]",2014-04-01 03:00:00.567,2014-04-01 03:09:59.204,"[2014-04-01T03:00:00.567000, 2014-04-01T03:00:...","[0.70710653, 0.70710653, 0.70710653, 0.7071065...","[0.707107, 0.707107, 0.707107, 0.707107, 0.707...","[0.9749277, 0.9749277, 0.9749277, 0.9749277, 0...","[-0.22252177, -0.22252177, -0.22252177, -0.222...","[0, 0, 0, 0, 0]","[-2.917681, -2.917681, -2.917681, -2.917681, -..."
18660,210798,12,"[10486, 25242, 22800, 10483, 10484, 713, 10484...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",2014-04-01 03:00:13.070,2014-04-01 03:14:04.242,"[2014-04-01T03:00:13.070000, 2014-04-01T03:01:...","[0.70710653, 0.70710653, 0.70710653, 0.7071065...","[0.707107, 0.707107, 0.707107, 0.707107, 0.707...","[0.9749277, 0.9749277, 0.9749277, 0.9749277, 0...","[-0.22252177, -0.22252177, -0.22252177, -0.222...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[-2.917681, -2.917681, -2.917681, -2.917681, -..."
33364,375257,11,"[16141, 10670, 18392, 18391, 18755, 18391, 187...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",2014-04-01 03:00:13.768,2014-04-01 03:09:47.368,"[2014-04-01T03:00:13.768000, 2014-04-01T03:01:...","[0.70710653, 0.70710653, 0.70710653, 0.7071065...","[0.707107, 0.707107, 0.707107, 0.707107, 0.707...","[0.9749277, 0.9749277, 0.9749277, 0.9749277, 0...","[-0.22252177, -0.22252177, -0.22252177, -0.222...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[-2.917681, -2.917681, -2.917681, -2.917681, -..."
15154,171168,2,"[12239, 39623]","[1, 1]",2014-04-01 03:00:20.130,2014-04-01 03:00:32.610,"[2014-04-01T03:00:20.130000, 2014-04-01T03:00:...","[0.70710653, 0.70710653]","[0.707107, 0.707107]","[0.9749277, 0.9749277]","[-0.22252177, -0.22252177]","[0, 0]","[-2.917681, -2.917681]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27369,308522,3,"[6583, 39608, 25291]","[1, 1, 1]",2014-04-02 02:58:26.423,2014-04-02 02:58:26.441,"[2014-04-02T02:58:26.423000, 2014-04-02T02:58:...","[0.86602527, 0.86602527, 0.86602527]","[0.50000024, 0.50000024, 0.50000024]","[0.43388295, 0.43388295, 0.43388295]","[-0.90096927, -0.90096927, -0.90096927]","[0, 0, 0]","[-2.917681, -2.917681, -2.917681]"
34555,388557,9,"[31195, 39395, 871, 1810, 18138, 10044, 7413, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1]",2014-04-02 02:58:30.869,2014-04-02 03:23:26.525,"[2014-04-02T02:58:30.869000, 2014-04-02T03:02:...","[0.86602527, 0.70710653, 0.70710653, 0.7071065...","[0.50000024, 0.707107, 0.707107, 0.707107, 0.7...","[0.43388295, 0.43388295, 0.43388295, 0.4338829...","[-0.90096927, -0.90096927, -0.90096927, -0.900...","[0, 0, 0, 0, 0, 0, 0, 0, 0]","[-2.917681, -2.917681, -2.917681, -2.917681, -..."
11772,133451,5,"[39906, 11326, 39397, 41262, 39371]","[1, 1, 1, 1, 1]",2014-04-02 02:58:50.937,2014-04-02 03:09:13.528,"[2014-04-02T02:58:50.937000, 2014-04-02T03:01:...","[0.86602527, 0.70710653, 0.70710653, 0.7071065...","[0.50000024, 0.707107, 0.707107, 0.707107, 0.7...","[0.43388295, 0.43388295, 0.43388295, 0.4338829...","[-0.90096927, -0.90096927, -0.90096927, -0.900...","[0, 0, 0, 0, 0]","[-2.917681, -2.917681, -2.917681, -2.917681, -..."
8473,94974,9,"[29314, 9030, 29314, 27563, 39409, 26379, 2979...","[1, 1, 1, 1, 1, 1, 1, 1, 1]",2014-04-02 02:59:03.202,2014-04-02 03:02:56.287,"[2014-04-02T02:59:03.202000, 2014-04-02T02:59:...","[0.86602527, 0.86602527, 0.86602527, 0.7071065...","[0.50000024, 0.50000024, 0.50000024, 0.707107,...","[0.43388295, 0.43388295, 0.43388295, 0.4338829...","[-0.90096927, -0.90096927, -0.90096927, -0.900...","[0, 0, 0, 0, 0, 0, 0, 0, 0]","[-2.917681, -2.917681, -2.917681, -2.917681, -..."
22684,256237,3,"[41180, 14817, 27407]","[1, 1, 1]",2014-04-02 02:59:47.160,2014-04-02 03:06:47.850,"[2014-04-02T02:59:47.160000, 2014-04-02T03:04:...","[0.86602527, 0.70710653, 0.70710653]","[0.50000024, 0.707107, 0.707107]","[0.43388295, 0.43388295, 0.43388295]","[-0.90096927, -0.90096927, -0.90096927]","[0, 0, 0]","[-2.917681, -2.917681, -2.917681]"