In [1]:
#!conda install pandas -y
#!conda install pyarrow -y

In [50]:
import os
import pandas as pd
import numpy as np

import cudf
import cupy
import nvtabular as nvt

In [2]:
DATA_FOLDER = "/data/yoochoose/yoochoose-data"
FILENAME_PATTERN = 'yoochoose-clicks.dat'
DATA_PATH = os.path.join(DATA_FOLDER, FILENAME_PATTERN)

!ls $DATA_PATH

/data/yoochoose/yoochoose-data/yoochoose-clicks.dat

In [3]:
OUTPUT_FOLDER = "/data/yoochoose/preproc_sessions_by_day_ts"
!mkdir -p $OUTPUT_FOLDER

In [4]:
MINIMUM_SESSION_LENGTH = 2

### Loading data

In [5]:
#List of columns names to be used for CSV without the header line
HEADLESS_CSV_COLUMN_NAMES = ['session_id','timestamp', 'item_id', 'category']

In [6]:
interactions_df = cudf.read_csv(DATA_PATH, sep=',',
                    names=HEADLESS_CSV_COLUMN_NAMES,
                    parse_dates=['timestamp']
                   )

### Removing consecutive repeated interactions

In [7]:
print("Count with in-session repeated interactions: {}".format(len(interactions_df)))
# Sorts the dataframe by session and timestamp, to remove consective repetitions
interactions_df = interactions_df.sort_values(['session_id', 'timestamp'])
interactions_df['item_id_past'] = interactions_df['item_id'].shift(1)
interactions_df['session_id_past'] = interactions_df['session_id'].shift(1)
#Keeping only no consectutive repeated in session interactions
interactions_df = interactions_df[~((interactions_df['session_id'] == interactions_df['session_id_past']) & \
                 (interactions_df['item_id'] == interactions_df['item_id_past']))]
print("Count after removed in-session repeated interactions: {}".format(len(interactions_df)))

Count with in-session repeated interactions: 33003944
Count after removed in-session repeated interactions: 28971544

In [8]:
del(interactions_df['item_id_past'])
del(interactions_df['session_id_past'])

### Including the item first time seen feature (for recency calculation)

In [9]:
items_first_ts_df = interactions_df.groupby('item_id').agg({'timestamp': 'min'}).reset_index().rename(columns={'timestamp': 'itemid_ts_first'})
items_first_ts_df.head()

     item_id         itemid_ts_first
0  214715625 2014-04-01 07:23:39.174
1  214754250 2014-04-13 18:29:11.989
2  214744050 2014-04-01 07:56:25.624
3  214754085 2014-04-14 17:52:41.453
4  214738445 2014-04-01 07:21:35.570

In [10]:
interactions_merged_df = interactions_df.merge(items_first_ts_df, on=['item_id'], how='left')

In [11]:
interactions_merged_df.head()

,session_id,timestamp,item_id,category,itemid_ts_first
0,549,2014-04-06 08:54:43.908,214523606,0,2014-04-01 09:03:10.905
1,549,2014-04-06 08:55:34.190,214714927,0,2014-04-01 06:49:56.209
2,549,2014-04-06 08:55:56.013,214517450,0,2014-04-01 05:23:45.666
3,549,2014-04-06 08:56:57.109,214714929,0,2014-04-01 08:43:03.756
4,549,2014-04-06 08:57:27.563,214518555,0,2014-04-01 04:41:12.943

In [12]:
interactions_merged_df.shape

(28971544, 5)

### Temporal features

In [13]:
# create time features
sessionTime = ['timestamp']

sessionTime_hour = (
    sessionTime >> 
    #nvt.ops.LambdaOp(lambda col: cudf.to_datetime(col, unit='ms').dt.hour) >> 
    nvt.ops.LambdaOp(lambda col: col.dt.hour) >> 
    nvt.ops.Rename(postfix = '_hour')
)
sessionTime_weekday = (
    sessionTime >> 
    #nvt.ops.LambdaOp(lambda col: cudf.to_datetime(col, unit='ms').dt.weekday) >> 
    nvt.ops.LambdaOp(lambda col: col.dt.weekday) >> 
    nvt.ops.Rename(postfix = '_wd')
)
sessionTime_day = (
    sessionTime >> 
    nvt.ops.LambdaOp(lambda col: col.dt.day) >> 
    nvt.ops.Rename(postfix="_day")
)
sessionTime_month = (
    sessionTime >> 
    nvt.ops.LambdaOp(lambda col: col.dt.month) >> 
    nvt.ops.Rename(postfix="_month")
)
sessionTime_year = (
    sessionTime >> 
    nvt.ops.LambdaOp(lambda col: col.dt.year) >> 
    nvt.ops.Rename(postfix="_year")
)

sessionTime_timestamp = (
    sessionTime >> 
    nvt.ops.LambdaOp(lambda col: (col.astype(int) / 1e6).astype(int)) >> 
    nvt.ops.Rename(f = lambda col: "ts")
)

In [14]:
def get_cycled_feature_value_sin(col, max_value):
    value_scaled = (col + 0.000001) / max_value
    value_sin = np.sin(2*np.pi*value_scaled)
    return value_sin

def get_cycled_feature_value_cos(col, max_value):
    value_scaled = (col + 0.000001) / max_value
    value_cos = np.cos(2*np.pi*value_scaled)
    return value_cos

In [15]:
hour_sin = sessionTime_hour >> (lambda col: get_cycled_feature_value_sin(col, 24)) >> nvt.ops.Rename(postfix = '_sin')
hour_cos = sessionTime_hour >> (lambda col: get_cycled_feature_value_cos(col, 24)) >> nvt.ops.Rename(postfix = '_cos')
weekday_sin = sessionTime_weekday >> (lambda col: get_cycled_feature_value_sin(col+1, 7)) >> nvt.ops.Rename(postfix = '_sin')
weekday_cos= sessionTime_weekday >> (lambda col: get_cycled_feature_value_cos(col+1, 7)) >> nvt.ops.Rename(postfix = '_cos')

In [16]:
cycled_features = hour_sin + hour_cos + weekday_sin + weekday_cos

In [17]:
cycled_features.columns

['timestamp_hour_sin',
 'timestamp_hour_cos',
 'timestamp_wd_sin',
 'timestamp_wd_cos']

In [ ]:
# standar scale the cycled_features
#cycled_features_norm = cycled_features >> nvt.ops.Normalize() >> nvt.ops.Rename(postfix = '_norm')

In [18]:
# calculate item recency 
# create custom op
from nvtabular.ops import Operator

class ItemRecency(Operator):
    def transform(self, columns, gdf):
        for column in columns:
            col = gdf[column]
            #col.loc[col == ""] = None
            item_first_timestamp = gdf['itemid_ts_first']
            delta_days = (col - item_first_timestamp).dt.days
            gdf[column + "_age_days"] = delta_days * (delta_days >=0)
        return gdf
            
    def output_column_names(self, columns):
        return [column + "_age_days" for column in columns]
            
    def dependencies(self):
        return ["itemid_ts_first"]

In [19]:
recency_features = ["timestamp"] >> ItemRecency() 
recency_features_norm = recency_features >> nvt.ops.LogOp() >> nvt.ops.Normalize() >> nvt.ops.Rename(postfix = '_norm')

In [20]:
recency_features.columns, recency_features_norm.columns

(['timestamp_age_days'], ['timestamp_age_days_norm'])

In [21]:
time_features = (
    sessionTime_timestamp +
    sessionTime + 
    sessionTime_hour +
    sessionTime_day + 
    sessionTime_month + 
    sessionTime_year +
    sessionTime_weekday +
    recency_features +
    recency_features_norm + 
    cycled_features
    #cycled_features_norm
)
time_features.graph

In [22]:
time_features.columns

['ts',
 'timestamp',
 'timestamp_hour',
 'timestamp_day',
 'timestamp_month',
 'timestamp_year',
 'timestamp_wd',
 'timestamp_age_days',
 'timestamp_age_days_norm',
 'timestamp_hour_sin',
 'timestamp_hour_cos',
 'timestamp_wd_sin',
 'timestamp_wd_cos']

### Categorify

In [23]:
categ_features = ['item_id', 'category'] >> nvt.ops.Categorify()

### Grouping interactions into sessions

In [28]:
# Define Groupby Workflow
groupby_features = categ_features + ['session_id']+ time_features >> nvt.ops.Groupby(
    groupby_cols=["session_id"], 
    sort_cols=["ts"],
    aggs={
        "item_id": ["list", "count"],
        "category": ["list"],        
        "ts": ["list", "first", "last"],
        "timestamp": ["first"],
        'timestamp_day': ["list"],
        'timestamp_hour': ["list"],
        'timestamp_month': ["list"],
        'timestamp_wd': ["list"],
        'timestamp_age_days': ["list"],
        'timestamp_age_days_norm': ["list"],
        'timestamp_hour_sin': ["list"],
        'timestamp_hour_sin_norm': ["list"],
        'timestamp_hour_cos': ["list"],
        'timestamp_hour_cos_norm': ["list"],
        'timestamp_wd_sin': ["list"],
        'timestamp_wd_sin_norm': ["list"],
        'timestamp_wd_cos': ["list"],
        'timestamp_wd_cos_norm': ["list"],        
        },
    name_sep="-")

In [29]:
# calculate session day index based on 'timestamp-first' column
remaining_columns = [x for x in groupby_features.columns if x!= 'timestamp-first']
day_index = ( (groupby_features - remaining_columns)  >> 
    nvt.ops.LambdaOp(lambda col: (col - col.min()).dt.days +1) >> 
    nvt.ops.Rename(f = lambda col: "day_index")
)

In [30]:
day_idx_padded = day_index >> (lambda col: col.astype(str).str.pad(4,fillchar='0')) >> nvt.ops.Rename(f = lambda col: "day_idx_padded")

In [31]:
rename_cols = {"item_id-count": "session_size"} 
groupby_features = groupby_features >> nvt.ops.Rename(lambda col: rename_cols.get(col, col))

In [32]:
filtered_sessions = (groupby_features + day_index + day_idx_padded) >> \
                     nvt.ops.Filter(f=lambda df: df["session_size"] >= MINIMUM_SESSION_LENGTH)

In [33]:
workflow = nvt.Workflow(filtered_sessions)

In [34]:
dataset = nvt.Dataset(interactions_merged_df, cpu=False)
workflow.fit(dataset)
new_gdf = workflow.transform(dataset).to_ddf().compute()
len(new_gdf)

6756575

In [38]:
categ_features.op.get_embedding_sizes(categ_features.columns)
#{'category': (336, 42), 'item_id': (52740, 512)}

{'category': (336, 42), 'item_id': (52740, 512)}

In [39]:
new_gdf.head(10)

,timestamp_age_days_norm-list,timestamp_hour_cos-list,ts-last,item_id-list,timestamp_wd-list,ts-list,timestamp_day-list,timestamp_hour-list,timestamp_month-list,category-list,timestamp-first,timestamp_wd_sin-list,timestamp_hour_sin-list,timestamp_age_days-list,session_size,ts-first,timestamp_wd_cos-list,session_id,day_index,day_idx_padded
0,"[-1.2571405, -1.2571405, -1.3886845, -1.3886845]","[-0.8660256, -0.8660256, -0.8660256, -0.8660256]",1396868220305,"[2054, 2053, 2055, 9877]","[0, 0, 0, 0]","[1396867869277, 1396868049868, 1396868086998, ...","[7, 7, 7, 7]","[10, 10, 10, 10]","[4, 4, 4, 4]","[1, 1, 1, 1]",2014-04-07 10:51:09.277,"[0.7818321, 0.7818321, 0.7818321, 0.7818321]","[0.49999964, 0.49999964, 0.49999964, 0.49999964]","[6, 6, 5, 5]",4,1396867869277,"[0.6234891, 0.6234891, 0.6234891, 0.6234891]",1,7,0007
1,"[-1.2571405, -2.3261817, -2.3261817, -2.326181...","[-0.96592575, -0.96592575, -0.96592575, -0.866...",1396879356889,"[19449, 40789, 32517, 32523, 4854]","[0, 0, 0, 0, 0]","[1396878997614, 1396879117446, 1396879190710, ...","[7, 7, 7, 7, 7]","[13, 13, 13, 14, 14]","[4, 4, 4, 4, 4]","[1, 1, 1, 1, 1]",2014-04-07 13:56:37.614,"[0.7818321, 0.7818321, 0.7818321, 0.7818321, 0...","[-0.2588193, -0.2588193, -0.2588193, -0.500000...","[6, 1, 1, 1, 6]",5,1396878997614,"[0.6234891, 0.6234891, 0.6234891, 0.6234891, 0...",2,7,0007
2,"[-2.3261817, -2.3261817, -2.3261817]","[-0.96592575, -0.96592575, -0.96592575]",1396445412318,"[28990, 35311, 43179]","[2, 2, 2]","[1396444666940, 1396445162515, 1396445412318]","[2, 2, 2]","[13, 13, 13]","[4, 4, 4]","[1, 1, 1]",2014-04-02 13:17:46.940,"[0.43388295, 0.43388295, 0.43388295]","[-0.2588193, -0.2588193, -0.2588193]","[1, 1, 1]",3,1396444666940,"[-0.90096927, -0.90096927, -0.90096927]",3,2,0002
3,"[-1.2571405, -1.2571405]","[-1.0, -1.0]",1396873585416,"[44326, 26362]","[0, 0]","[1396872550948, 1396873585416]","[7, 7]","[12, 12]","[4, 4]","[1, 1]",2014-04-07 12:09:10.948,"[0.7818321, 0.7818321]","[-5.6425995e-07, -5.6425995e-07]","[6, 6]",2,1396872550948,"[0.6234891, 0.6234891]",4,7,0007
4,"[-1.3886845, -1.3886845]","[-0.4999995, -0.25881854]",1396803746976,"[25633, 41161]","[6, 6]","[1396803500848, 1396803746976]","[6, 6]","[16, 17]","[4, 4]","[1, 1]",2014-04-06 16:58:20.848,"[1.1285199e-06, 1.1285199e-06]","[-0.8660257, -0.965926]","[5, 5]",2,1396803500848,"[1.0, 1.0]",6,6,0006
5,"[-2.3261817, -2.3261817]","[-2.8212997e-07, -2.8212997e-07]",1396420745854,"[41233, 41185]","[2, 2]","[1396420733104, 1396420745854]","[2, 2]","[6, 6]","[4, 4]","[1, 1]",2014-04-02 06:38:53.104,"[0.43388295, 0.43388295]","[1.0, 1.0]","[1, 1]",2,1396420733104,"[-0.90096927, -0.90096927]",7,2,0002
6,"[-1.9801793, -1.9801793, -1.9801793, -1.980179...","[-0.8660256, -0.8660256, -0.8660256, -0.866025...",1396522659433,"[39928, 39967, 29055, 7959, 26356, 29168, 3063...","[3, 3, 3, 3, 3, 3, 3, 3, 3]","[1396521875672, 1396521929873, 1396522402572, ...","[3, 3, 3, 3, 3, 3, 3, 3, 3]","[10, 10, 10, 10, 10, 10, 10, 10, 10]","[4, 4, 4, 4, 4, 4, 4, 4, 4]","[1, 1, 1, 1, 1, 1, 1, 1, 1]",2014-04-03 10:44:35.672,"[-0.43388462, -0.43388462, -0.43388462, -0.433...","[0.49999964, 0.49999964, 0.49999964, 0.4999996...","[2, 2, 2, 2, 1, 2, 2, 0, 2]",9,1396521875672,"[-0.90096843, -0.90096843, -0.90096843, -0.900...",11,3,0003
7,"[-1.3886845, -1.3886845, -1.3886845]","[-0.8660252, -0.8660252, -0.8660252]",1396795998268,"[44325, 22424, 44325]","[6, 6, 6]","[1396795813638, 1396795974363, 1396795998268]","[6, 6, 6]","[14, 14, 14]","[4, 4, 4]","[1, 1, 1]",2014-04-06 14:50:13.638,"[1.1285199e-06, 1.1285199e-06, 1.1285199e-06]","[-0.50000036, -0.50000036, -0.50000036]","[5, 5, 5]",3,1396795813638,"[1.0, 1.0, 1.0]",13,6,0006
8,"[-2.9176764, -2.9176764, -2.9176764]","[-0.8660256, -0.8660256, -0.8660256]",1396347156481,"[9918, 11196, 9918]","[1, 1, 1]","[1396346941361, 1396347074773, 1396347156481]","[1, 1, 1]","[10, 10, 10]","[4, 4, 4]","[1, 1, 1]",2014-04-01 10:09:01.362,"[0.9749277, 0.9749277, 0.9749277]","[0.49999964, 0.49999964, 0.49999964]","[0, 0, 0]",3,1396346941361,"[-0.22252177, -0.22252177, -0.22252177]",14,1,0001
9,"[-1.3886845, -1.3886845]","[-0.96592593, -0.96592593]",1396784056193,"[41259, 39711]","[6, 6]","[1396784054289, 1396784056193]","[6, 6]","[11, 11]","[4, 4]","[1, 1]",2014-04-06 11:34:14.289,"[1.1285199e-06, 1.1285199e-06]","[0.2588187, 0.2588187]","[5, 5]",2,1396784054289,"[1.0, 1.0]",17,6,0006

In [68]:
SELECTED_COLS = ['session_id', 'day_idx_padded', 'session_size', 'item_id-list', 'category-list', 'ts-first', 'ts-first', 'ts-last',  'ts-list', 
'timestamp_hour_cos-list', 'timestamp_hour_sin-list', 'timestamp_wd_sin-list', 'timestamp_wd_cos-list',
'timestamp_age_days-list', 'timestamp_age_days_norm-list',]
sessions_gdf = new_gdf[SELECTED_COLS]
sessions_gdf.head()

,session_id,day_idx_padded,session_size,item_id-list,category-list,timestamp-first,ts-first,ts-last,ts-list,timestamp_hour_cos-list,timestamp_hour_sin-list,timestamp_wd_sin-list,timestamp_wd_cos-list,timestamp_age_days-list,timestamp_age_days_norm-list
0,1,0007,4,"[2054, 2053, 2055, 9877]","[1, 1, 1, 1]",2014-04-07 10:51:09.277,1396867869277,1396868220305,"[1396867869277, 1396868049868, 1396868086998, ...","[-0.8660256, -0.8660256, -0.8660256, -0.8660256]","[0.49999964, 0.49999964, 0.49999964, 0.49999964]","[0.7818321, 0.7818321, 0.7818321, 0.7818321]","[0.6234891, 0.6234891, 0.6234891, 0.6234891]","[6, 6, 5, 5]","[-1.2571405, -1.2571405, -1.3886845, -1.3886845]"
1,2,0007,5,"[19449, 40789, 32517, 32523, 4854]","[1, 1, 1, 1, 1]",2014-04-07 13:56:37.614,1396878997614,1396879356889,"[1396878997614, 1396879117446, 1396879190710, ...","[-0.96592575, -0.96592575, -0.96592575, -0.866...","[-0.2588193, -0.2588193, -0.2588193, -0.500000...","[0.7818321, 0.7818321, 0.7818321, 0.7818321, 0...","[0.6234891, 0.6234891, 0.6234891, 0.6234891, 0...","[6, 1, 1, 1, 6]","[-1.2571405, -2.3261817, -2.3261817, -2.326181..."
2,3,0002,3,"[28990, 35311, 43179]","[1, 1, 1]",2014-04-02 13:17:46.940,1396444666940,1396445412318,"[1396444666940, 1396445162515, 1396445412318]","[-0.96592575, -0.96592575, -0.96592575]","[-0.2588193, -0.2588193, -0.2588193]","[0.43388295, 0.43388295, 0.43388295]","[-0.90096927, -0.90096927, -0.90096927]","[1, 1, 1]","[-2.3261817, -2.3261817, -2.3261817]"
3,4,0007,2,"[44326, 26362]","[1, 1]",2014-04-07 12:09:10.948,1396872550948,1396873585416,"[1396872550948, 1396873585416]","[-1.0, -1.0]","[-5.6425995e-07, -5.6425995e-07]","[0.7818321, 0.7818321]","[0.6234891, 0.6234891]","[6, 6]","[-1.2571405, -1.2571405]"
4,6,0006,2,"[25633, 41161]","[1, 1]",2014-04-06 16:58:20.848,1396803500848,1396803746976,"[1396803500848, 1396803746976]","[-0.4999995, -0.25881854]","[-0.8660257, -0.965926]","[1.1285199e-06, 1.1285199e-06]","[1.0, 1.0]","[5, 5]","[-1.3886845, -1.3886845]"

### Checking results

In [41]:
sessions_gdf['day_idx_padded'].min(), sessions_gdf['day_idx_padded'].max()

('0001', '0182')

In [42]:
sessions_gdf.groupby('day_idx_padded').size().sort_index()

0001    44017
0002    42358
0003    45074
0004    33102
0005    34515
        ...
0178    35605
0179    25555
0180    21023
0181    10766
0182    13297
Length: 182, dtype: int32

In [43]:
sessions_gdf['session_size'].describe()

count    6.756575e+06
mean     3.918907e+00
std      3.794900e+00
min      2.000000e+00
25%      2.000000e+00
50%      3.000000e+00
75%      4.000000e+00
max      2.000000e+02
Name: session_size, dtype: float64

In [44]:
sessions_gdf.groupby('session_size').size().sort_index()[:30]

session_size
2     2945317
3     1463174
4      785870
5      473054
6      299592
7      200109
8      137758
9       98787
10      72002
11      53589
12      41379
13      32072
14      25125
15      19699
16      16087
17      13117
18      10714
19       8932
20       7536
21       6329
22       5535
23       4735
24       3832
25       3444
26       2933
27       2551
28       2356
29       1959
30       1762
31       1573
dtype: int32

### Exporting session by day

#### Saving using hive-partitioned data

In [45]:
PARTITION_COL = 'day_idx_padded'

In [46]:
# Convert to a Datset and write out hive-partitioned data to disk
nvt_output_path_tmp ='./output_nvt_tmp/'
nvt.Dataset(sessions_gdf).to_parquet(nvt_output_path_tmp, partition_on=[PARTITION_COL])

In [47]:
!ls $nvt_output_path_tmp/

 _file_list.txt        'day_idx_padded=0060'  'day_idx_padded=0122'
 _metadata	       'day_idx_padded=0061'  'day_idx_padded=0123'
 _metadata.json        'day_idx_padded=0062'  'day_idx_padded=0124'
'day_idx_padded=0001'  'day_idx_padded=0063'  'day_idx_padded=0125'
'day_idx_padded=0002'  'day_idx_padded=0064'  'day_idx_padded=0126'
'day_idx_padded=0003'  'day_idx_padded=0065'  'day_idx_padded=0127'
'day_idx_padded=0004'  'day_idx_padded=0066'  'day_idx_padded=0128'
'day_idx_padded=0005'  'day_idx_padded=0067'  'day_idx_padded=0129'
'day_idx_padded=0006'  'day_idx_padded=0068'  'day_idx_padded=0130'
'day_idx_padded=0007'  'day_idx_padded=0069'  'day_idx_padded=0131'
'day_idx_padded=0008'  'day_idx_padded=0070'  'day_idx_padded=0132'
'day_idx_padded=0009'  'day_idx_padded=0071'  'day_idx_padded=0133'
'day_idx_padded=0010'  'day_idx_padded=0072'  'day_idx_padded=0134'
'day_idx_padded=0011'  'day_idx_padded=0073'  'day_idx_padded=0135'
'day_idx_padded=0012'  'day_idx_padded=0074'  'day_idx_padded=0136'
'day_idx_padded=0013'  'day_idx_padded=0075'  'day_idx_padded=0137'
'day_idx_padded=0014'  'day_idx_padded=0076'  'day_idx_padded=0138'
'day_idx_padded=0015'  'day_idx_padded=0077'  'day_idx_padded=0139'
'day_idx_padded=0016'  'day_idx_padded=0078'  'day_idx_padded=0140'
'day_idx_padded=0017'  'day_idx_padded=0079'  'day_idx_padded=0141'
'day_idx_padded=0018'  'day_idx_padded=0080'  'day_idx_padded=0142'
'day_idx_padded=0019'  'day_idx_padded=0081'  'day_idx_padded=0143'
'day_idx_padded=0020'  'day_idx_padded=0082'  'day_idx_padded=0144'
'day_idx_padded=0021'  'day_idx_padded=0083'  'day_idx_padded=0145'
'day_idx_padded=0022'  'day_idx_padded=0084'  'day_idx_padded=0146'
'day_idx_padded=0023'  'day_idx_padded=0085'  'day_idx_padded=0147'
'day_idx_padded=0024'  'day_idx_padded=0086'  'day_idx_padded=0148'
'day_idx_padded=0025'  'day_idx_padded=0087'  'day_idx_padded=0149'
'day_idx_padded=0026'  'day_idx_padded=0088'  'day_idx_padded=0150'
'day_idx_padded=0027'  'day_idx_padded=0089'  'day_idx_padded=0151'
'day_idx_padded=0028'  'day_idx_padded=0090'  'day_idx_padded=0152'
'day_idx_padded=0029'  'day_idx_padded=0091'  'day_idx_padded=0153'
'day_idx_padded=0030'  'day_idx_padded=0092'  'day_idx_padded=0154'
'day_idx_padded=0031'  'day_idx_padded=0093'  'day_idx_padded=0155'
'day_idx_padded=0032'  'day_idx_padded=0094'  'day_idx_padded=0156'
'day_idx_padded=0033'  'day_idx_padded=0095'  'day_idx_padded=0157'
'day_idx_padded=0034'  'day_idx_padded=0096'  'day_idx_padded=0158'
'day_idx_padded=0035'  'day_idx_padded=0097'  'day_idx_padded=0159'
'day_idx_padded=0036'  'day_idx_padded=0098'  'day_idx_padded=0160'
'day_idx_padded=0037'  'day_idx_padded=0099'  'day_idx_padded=0161'
'day_idx_padded=0038'  'day_idx_padded=0100'  'day_idx_padded=0162'
'day_idx_padded=0039'  'day_idx_padded=0101'  'day_idx_padded=0163'
'day_idx_padded=0040'  'day_idx_padded=0102'  'day_idx_padded=0164'
'day_idx_padded=0041'  'day_idx_padded=0103'  'day_idx_padded=0165'
'day_idx_padded=0042'  'day_idx_padded=0104'  'day_idx_padded=0166'
'day_idx_padded=0043'  'day_idx_padded=0105'  'day_idx_padded=0167'
'day_idx_padded=0044'  'day_idx_padded=0106'  'day_idx_padded=0168'
'day_idx_padded=0045'  'day_idx_padded=0107'  'day_idx_padded=0169'
'day_idx_padded=0046'  'day_idx_padded=0108'  'day_idx_padded=0170'
'day_idx_padded=0047'  'day_idx_padded=0109'  'day_idx_padded=0171'
'day_idx_padded=0048'  'day_idx_padded=0110'  'day_idx_padded=0172'
'day_idx_padded=0049'  'day_idx_padded=0111'  'day_idx_padded=0173'
'day_idx_padded=0050'  'day_idx_padded=0112'  'day_idx_padded=0174'
'day_idx_padded=0051'  'day_idx_padded=0113'  'day_idx_padded=0175'
'day_idx_padded=0052'  'day_idx_padded=0114'  'day_idx_padded=0176'
'day_idx_padded=0053'  'day_idx_padded=0115'  'day_idx_padded=0177'
'day_idx_padded=0054'  'day_idx_padded=0116'  'day_idx_padded=0178'
'day_idx_padded=0055'  'day_idx_padded=0117'  'day_idx_padded=0179'
'day_idx_padded=0056'  'day_idx_padded=0118'  'day_idx_padded=0180'
'day_idx_padded=0057'  'day_idx_padded=0119'  'day_idx_padded=0181'
'day_idx_padded=0058'  'day_idx_padded=0120'  'day_idx_padded=0182'
'day_idx_padded=0059'  'day_idx_padded=0121'

In [48]:
# Check one file
day_1 = cudf.read_parquet(os.path.join(nvt_output_path_tmp, 'day_idx_padded=0001/part.0.parquet'))
day_1

,session_id,session_size,item_id-list,category-list,ts-first,ts-last,ts-list,timestamp_hour_cos-list,timestamp_hour_sin-list,timestamp_wd_sin-list,timestamp_wd_cos-list,timestamp_age_days-list,timestamp_age_days_norm-list
0,14,3,"[9918, 11196, 9918]","[1, 1, 1]",1396346941361,1396347156481,"[1396346941361, 1396347074773, 1396347156481]","[-0.8660256, -0.8660256, -0.8660256]","[0.49999964, 0.49999964, 0.49999964]","[0.9749277, 0.9749277, 0.9749277]","[-0.22252177, -0.22252177, -0.22252177]","[0, 0, 0]","[-2.9176764, -2.9176764, -2.9176764]"
1,19,2,"[7832, 13821]","[1, 1]",1396385532357,1396385693606,"[1396385532357, 1396385693606]","[0.5000007, 0.5000007]","[-0.866025, -0.866025]","[0.9749277, 0.9749277]","[-0.22252177, -0.22252177]","[0, 0]","[-2.9176764, -2.9176764]"
2,39,2,"[22514, 21519]","[1, 1]",1396387260460,1396387304551,"[1396387260460, 1396387304551]","[0.707107, 0.707107]","[-0.70710653, -0.70710653]","[0.9749277, 0.9749277]","[-0.22252177, -0.22252177]","[0, 0]","[-2.9176764, -2.9176764]"
3,48,4,"[24302, 24301, 2505, 20625]","[1, 1, 1, 1]",1396354328080,1396354610572,"[1396354328080, 1396354365019, 1396354378585, ...","[-1.0, -1.0, -1.0, -1.0]","[-5.6425995e-07, -5.6425995e-07, -5.6425995e-0...","[0.9749277, 0.9749277, 0.9749277, 0.9749277]","[-0.22252177, -0.22252177, -0.22252177, -0.222...","[0, 0, 0, 0]","[-2.9176764, -2.9176764, -2.9176764, -2.9176764]"
4,51,5,"[3861, 39358, 45409, 44069, 44140]","[1, 1, 1, 1, 1]",1396375531791,1396375780735,"[1396375531791, 1396375604207, 1396375650896, ...","[4.8876205e-07, 4.8876205e-07, 4.8876205e-07, ...","[-1.0, -1.0, -1.0, -1.0, -1.0]","[0.9749277, 0.9749277, 0.9749277, 0.9749277, 0...","[-0.22252177, -0.22252177, -0.22252177, -0.222...","[0, 0, 0, 0, 0]","[-2.9176764, -2.9176764, -2.9176764, -2.917676..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44012,494917,6,"[29024, 28987, 29024, 28986, 29024, 28987]","[1, 1, 1, 1, 1, 1]",1396380350288,1396380590364,"[1396380350288, 1396380380891, 1396380517351, ...","[0.25881946, 0.25881946, 0.25881946, 0.2588194...","[-0.9659257, -0.9659257, -0.9659257, -0.965925...","[0.9749277, 0.9749277, 0.9749277, 0.9749277, 0...","[-0.22252177, -0.22252177, -0.22252177, -0.222...","[0, 0, 0, 0, 0, 0]","[-2.9176764, -2.9176764, -2.9176764, -2.917676..."
44013,494918,4,"[45637, 96, 2704, 10677]","[1, 1, 1, 1]",1396355997736,1396356338817,"[1396355997736, 1396356094192, 1396356175574, ...","[-1.0, -1.0, -1.0, -1.0]","[-5.6425995e-07, -5.6425995e-07, -5.6425995e-0...","[0.9749277, 0.9749277, 0.9749277, 0.9749277]","[-0.22252177, -0.22252177, -0.22252177, -0.222...","[0, 0, 0, 0]","[-2.9176764, -2.9176764, -2.9176764, -2.9176764]"
44014,494921,2,"[39906, 39402]","[1, 1]",1396374640327,1396374653449,"[1396374640327, 1396374653449]","[-0.25881854, -0.25881854]","[-0.965926, -0.965926]","[0.9749277, 0.9749277]","[-0.22252177, -0.22252177]","[0, 0]","[-2.9176764, -2.9176764]"
44015,494922,2,"[28990, 28988]","[1, 1]",1396347144305,1396347344812,"[1396347144305, 1396347344812]","[-0.8660256, -0.8660256]","[0.49999964, 0.49999964]","[0.9749277, 0.9749277]","[-0.22252177, -0.22252177]","[0, 0]","[-2.9176764, -2.9176764]"
44016,494924,3,"[43132, 43131, 41282]","[1, 1, 1]",1396323919181,1396324382118,"[1396323919181, 1396324078493, 1396324382118]","[0.70710653, 0.70710653, 0.70710653]","[0.707107, 0.707107, 0.707107]","[0.9749277, 0.9749277, 0.9749277]","[-0.22252177, -0.22252177, -0.22252177]","[0, 0, 0]","[-2.9176764, -2.9176764, -2.9176764]"

#### Converting to the HF4Rec dir structure and splitting dataset

In [69]:
days_folders = [f for f in sorted(os.listdir(nvt_output_path_tmp)) if f.startswith(PARTITION_COL)]
for day_folder in days_folders:
    df = cudf.read_parquet(os.path.join(nvt_output_path_tmp, day_folder))
    df = df.sort_values('ts-first')
    print(len(df))
    
    out_folder = os.path.join(OUTPUT_FOLDER, day_folder.replace('day_idx_padded=', ''))
    os.makedirs(out_folder, exist_ok=True)
    df.to_parquet(os.path.join(out_folder, 'train.parquet'))
    
    random_values = cupy.random.rand(len(df))
    
    #Extracts 10% for valid and test set. Those sessions are also in the train set, but as evaluation
    #happens only for the subsequent day of training, that is not an issue, and we can keep the train set larger.
    valid_set = df[random_values <= 0.10]
    valid_set.to_parquet(os.path.join(out_folder, 'valid.parquet'))
    
    test_set = df[random_values >= 0.90]
    test_set.to_parquet(os.path.join(out_folder, 'test.parquet'))

44017
42358
45074
33102
34515
61399
48062
34726
39439
36216
24697
28752
58691
54321
38695
31093
21344
29839
20507
33190
47846
42309
40325
38964
28248
32894
67929
53832
41259
33148
34525
32369
30743
58694
30669
1305
41639
42447
30069
36005
67958
66624
41047
40048
37888
26457
28067
58177
52813
40518
37740
34592
29415
29054
54092
56778
1684
39018
35188
30125
32546
67557
66231
1591
44374
41167
27114
25412
44538
51728
53538
49282
43286
30025
31383
55148
45088
1459
30213
26395
24843
27194
55473
45862
1358
35447
30289
23502
26631
56166
44429
1194
31785
24836
16750
22927
42728
41468
1334
38476
37072
26639
28090
47511
42925
1436
35653
35334
25042
24527
51154
59165
1510
38300
39108
27602
26675
53596
52763
8694
35696
31012
22940
24113
49009
50884
9885
35676
37699
28091
37425
77580
71852
12141
48246
47395
35597
34906
68722
71651
12953
52105
52598
37510
39111
65721
64929
10293
46057
42088
29747
32011
70483
65988
9104
10196
39880
29644
17287
76214
69830
10870
49303
13091
37497
43318
73382
65710
9185
35768
33419
23745
32647
63023
54817
6969
37214
35605
25555
21023
10766
13297

In [55]:
!ls -la $OUTPUT_FOLDER

total 736
drwxr-xr-x 184 root root 4096 Apr 19 17:00 .
drwxr-xr-x   5 1000 1000 4096 Apr 19 16:26 ..
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0001
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0002
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0003
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0004
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0005
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0006
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0007
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0008
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0009
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0010
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0011
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0012
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0013
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0014
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0015
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0016
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0017
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0018
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0019
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0020
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0021
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0022
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0023
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0024
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0025
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0026
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0027
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0028
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0029
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0030
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0031
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0032
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0033
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0034
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0035
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0036
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0037
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0038
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0039
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0040
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0041
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0042
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0043
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0044
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0045
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0046
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0047
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0048
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0049
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0050
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0051
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0052
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0053
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0054
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0055
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0056
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0057
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0058
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0059
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0060
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0061
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0062
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0063
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0064
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0065
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0066
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0067
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0068
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0069
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0070
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0071
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0072
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0073
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0074
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0075
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0076
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0077
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0078
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0079
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0080
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0081
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0082
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0083
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0084
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0085
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0086
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0087
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0088
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0089
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0090
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0091
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0092
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0093
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0094
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0095
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0096
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0097
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0098
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0099
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0100
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0101
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0102
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0103
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0104
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0105
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0106
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0107
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0108
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0109
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0110
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0111
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0112
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0113
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0114
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0115
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0116
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0117
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0118
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0119
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0120
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0121
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0122
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0123
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0124
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0125
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0126
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0127
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0128
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0129
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0130
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0131
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0132
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0133
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0134
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0135
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0136
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0137
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0138
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0139
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0140
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0141
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0142
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0143
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0144
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0145
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0146
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0147
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0148
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0149
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0150
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0151
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0152
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0153
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0154
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0155
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0156
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0157
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0158
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0159
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0160
drwxr-xr-x   2 root root 4096 Apr 19 16:59 0161
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0162
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0163
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0164
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0165
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0166
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0167
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0168
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0169
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0170
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0171
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0172
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0173
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0174
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0175
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0176
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0177
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0178
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0179
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0180
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0181
drwxr-xr-x   2 root root 4096 Apr 19 17:00 0182

In [56]:
!ls -la $OUTPUT_FOLDER/0001

total 3328
drwxr-xr-x   2 root root    4096 Apr 19 16:59 .
drwxr-xr-x 184 root root    4096 Apr 19 17:00 ..
-rw-r--r--   1 root root  298260 Apr 19 16:59 test.parquet
-rw-r--r--   1 root root 2809902 Apr 19 16:59 train.parquet
-rw-r--r--   1 root root  283080 Apr 19 16:59 valid.parquet

In [57]:
df = cudf.read_parquet(os.path.join(OUTPUT_FOLDER, '0001/train.parquet'))
df

,session_id,session_size,item_id-list,category-list,ts-first,ts-last,ts-list,timestamp_hour_cos-list,timestamp_hour_sin-list,timestamp_wd_sin-list,timestamp_wd_cos-list,timestamp_age_days-list,timestamp_age_days_norm-list
31230,351646,2,"[29023, 28986]","[1, 1]",1396321200124,1396321393688,"[1396321200124, 1396321393688]","[0.70710653, 0.70710653]","[0.707107, 0.707107]","[0.9749277, 0.9749277]","[-0.22252177, -0.22252177]","[0, 0]","[-2.9176764, -2.9176764]"
34633,389654,5,"[41181, 11387, 41181, 41218, 41181]","[1, 1, 1, 1, 1]",1396321200567,1396321799204,"[1396321200567, 1396321248736, 1396321356728, ...","[0.70710653, 0.70710653, 0.70710653, 0.7071065...","[0.707107, 0.707107, 0.707107, 0.707107, 0.707...","[0.9749277, 0.9749277, 0.9749277, 0.9749277, 0...","[-0.22252177, -0.22252177, -0.22252177, -0.222...","[0, 0, 0, 0, 0]","[-2.9176764, -2.9176764, -2.9176764, -2.917676..."
18660,210798,12,"[10486, 25242, 22800, 10483, 10484, 713, 10484...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",1396321213070,1396322044241,"[1396321213070, 1396321268992, 1396321299135, ...","[0.70710653, 0.70710653, 0.70710653, 0.7071065...","[0.707107, 0.707107, 0.707107, 0.707107, 0.707...","[0.9749277, 0.9749277, 0.9749277, 0.9749277, 0...","[-0.22252177, -0.22252177, -0.22252177, -0.222...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[-2.9176764, -2.9176764, -2.9176764, -2.917676..."
33364,375257,11,"[16141, 10670, 18392, 18391, 18755, 18391, 187...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",1396321213768,1396321787368,"[1396321213768, 1396321263865, 1396321416094, ...","[0.70710653, 0.70710653, 0.70710653, 0.7071065...","[0.707107, 0.707107, 0.707107, 0.707107, 0.707...","[0.9749277, 0.9749277, 0.9749277, 0.9749277, 0...","[-0.22252177, -0.22252177, -0.22252177, -0.222...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[-2.9176764, -2.9176764, -2.9176764, -2.917676..."
15154,171168,2,"[12239, 39623]","[1, 1]",1396321220129,1396321232609,"[1396321220129, 1396321232609]","[0.70710653, 0.70710653]","[0.707107, 0.707107]","[0.9749277, 0.9749277]","[-0.22252177, -0.22252177]","[0, 0]","[-2.9176764, -2.9176764]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27369,308522,3,"[6583, 39608, 25291]","[1, 1, 1]",1396407506423,1396407506441,"[1396407506423, 1396407506440, 1396407506441]","[0.86602527, 0.86602527, 0.86602527]","[0.50000024, 0.50000024, 0.50000024]","[0.43388295, 0.43388295, 0.43388295]","[-0.90096927, -0.90096927, -0.90096927]","[0, 0, 0]","[-2.9176764, -2.9176764, -2.9176764]"
34555,388557,9,"[31195, 39395, 871, 1810, 18138, 10044, 7413, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1]",1396407510869,1396409006525,"[1396407510869, 1396407762953, 1396407800168, ...","[0.86602527, 0.70710653, 0.70710653, 0.7071065...","[0.50000024, 0.707107, 0.707107, 0.707107, 0.7...","[0.43388295, 0.43388295, 0.43388295, 0.4338829...","[-0.90096927, -0.90096927, -0.90096927, -0.900...","[0, 0, 0, 0, 0, 0, 0, 0, 0]","[-2.9176764, -2.9176764, -2.9176764, -2.917676..."
11772,133451,5,"[39906, 11326, 39397, 41262, 39371]","[1, 1, 1, 1, 1]",1396407530937,1396408153528,"[1396407530937, 1396407691937, 1396407972549, ...","[0.86602527, 0.70710653, 0.70710653, 0.7071065...","[0.50000024, 0.707107, 0.707107, 0.707107, 0.7...","[0.43388295, 0.43388295, 0.43388295, 0.4338829...","[-0.90096927, -0.90096927, -0.90096927, -0.900...","[0, 0, 0, 0, 0]","[-2.9176764, -2.9176764, -2.9176764, -2.917676..."
8473,94974,9,"[29314, 9030, 29314, 27563, 39409, 26379, 2979...","[1, 1, 1, 1, 1, 1, 1, 1, 1]",1396407543201,1396407776287,"[1396407543201, 1396407544560, 1396407592124, ...","[0.86602527, 0.86602527, 0.86602527, 0.7071065...","[0.50000024, 0.50000024, 0.50000024, 0.707107,...","[0.43388295, 0.43388295, 0.43388295, 0.4338829...","[-0.90096927, -0.90096927, -0.90096927, -0.900...","[0, 0, 0, 0, 0, 0, 0, 0, 0]","[-2.9176764, -2.9176764, -2.9176764, -2.917676..."
22684,256237,3,"[41180, 14817, 27407]","[1, 1, 1]",1396407587160,1396408007849,"[1396407587160, 1396407880829, 1396408007849]","[0.86602527, 0.70710653, 0.70710653]","[0.50000024, 0.707107, 0.707107]","[0.43388295, 0.43388295, 0.43388295]","[-0.90096927, -0.90096927, -0.90096927]","[0, 0, 0]","[-2.9176764, -2.9176764, -2.9176764]"